# Cleaning Up the Disney Data
In the code below, I
* Check the formatting of each film. If the formatting generally looks okay, I will continue with adding information. If the data appears heavily inaccurate, I will set these aside to work on later.
* Label gender and role(protagonist, antagonist, helper, or neutral)
* Label songs

I will be looking at the 12 films in the data frame that aren't fully annotated: 

Throughout this process, if I find minor, easily fixable issues in the well-formatted data, I will address these.

Also, though it was easy to construct Start_Scene for Moana because I built that data myself, there's no uniform way to mark the beginning of a scene in the Disney data or the Dreamworks data. Therefore, this information may not be used in future analysis.

In [1]:
import numpy as np
import pandas as pd

In [2]:
disney = pd.read_csv(r"C:\Users\cassi\Desktop\Data_Science\Animated-Movie-Gendered-Dialogue\private\Disney_1938_2016.csv")

In [3]:
disney.head()

,Unnamed: 0,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
0,0,EARLY,NaN,Snow White,NaN,NaN,queen,NON-P,NaN,slave in the magic mirror come from the farthe...,1,1937
1,1,EARLY,NaN,Snow White,NaN,NaN,mirror,NON-P,NaN,"what wouldst thou know, my queen ?",2,1937
2,2,EARLY,NaN,Snow White,NaN,NaN,queen,NON-P,NaN,"magic mirror on the wall, who is the fairest o...",3,1937
3,3,EARLY,NaN,Snow White,NaN,NaN,mirror,NON-P,NaN,"famed is thy beauty, majesty. but hold, a love...",4,1937
4,4,EARLY,NaN,Snow White,NaN,NaN,queen,NON-P,NaN,alas for her ! reveal her name.,5,1937

In [4]:
disney = disney.drop(columns="Unnamed: 0")

In [5]:
disney.head()

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
0,EARLY,NaN,Snow White,NaN,NaN,queen,NON-P,NaN,slave in the magic mirror come from the farthe...,1,1937
1,EARLY,NaN,Snow White,NaN,NaN,mirror,NON-P,NaN,"what wouldst thou know, my queen ?",2,1937
2,EARLY,NaN,Snow White,NaN,NaN,queen,NON-P,NaN,"magic mirror on the wall, who is the fairest o...",3,1937
3,EARLY,NaN,Snow White,NaN,NaN,mirror,NON-P,NaN,"famed is thy beauty, majesty. but hold, a love...",4,1937
4,EARLY,NaN,Snow White,NaN,NaN,queen,NON-P,NaN,alas for her ! reveal her name.,5,1937

In [7]:
disney["Movie"].unique() #13 movies, 12 to look at

array(['Snow White', 'Cinderella', 'Sleeping Beauty',
       'The Little Mermaid', 'Beauty and the Beast', 'Aladdin',
       'Pocahontas', 'Mulan', 'The Princess and the Frog', 'Tangled',
       'Brave', 'Frozen', 'Moana'], dtype=object)

In [11]:
disney["Movie"].value_counts()

Frozen                       988
Aladdin                      842
Beauty and the Beast         772
The Princess and the Frog    676
Pocahontas                   638
Mulan                        554
Cinderella                   497
Sleeping Beauty              462
Brave                        411
The Little Mermaid           397
Moana                        382
Snow White                   366
Tangled                      193
Name: Movie, dtype: int64

### Defining Functions to Use Throughout

In [6]:
#Gender Label
def whichgen(name, female, male):
    if name in female: return 'f'
    elif name in male: return 'm'
    else: return 'n'

In [7]:
#Role Label
def whichrole(name, pro, ant, helper):
    if name in pro: return 'PRO'
    if name in ant: return 'ANT'
    if name in helper: return 'HELPER'
    else: return "N" #for neutral

In [8]:
#Dialogue Label
def is_dialogue(line, song):
    if line in song: return 'S'
    else: return 'D'

## Snow White

1) Data cleanup

In [80]:
snow_white = disney[disney.Movie == "Snow White"]

In [81]:
snow_white.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 366 entries, 0 to 365
Data columns (total 11 columns):
Disney_Period       366 non-null object
Gender              0 non-null object
Movie               366 non-null object
Role                0 non-null object
Song                0 non-null object
Speaker             366 non-null object
Speaker_Status      366 non-null object
Start_Scene         0 non-null object
Text                366 non-null object
UTTERANCE_NUMBER    366 non-null int64
Year                366 non-null int64
dtypes: int64(2), object(9)
memory usage: 21.4+ KB

In [82]:
snow_white[["Speaker", "Text"]]

        Speaker                                               Text
0         queen  slave in the magic mirror come from the farthe...
1        mirror                what wouldst thou know, my queen ?
2         queen  magic mirror on the wall, who is the fairest o...
3        mirror  famed is thy beauty, majesty. but hold, a love...
4         queen                   alas for her ! reveal her name.
5        mirror  lips red as the rose. hair black as ebony. ski...
6         queen                                      snow white !
7    snow white  want to know a secret ? promise not to tell ? ...
8        prince                                             today
9    snow white                                              oh !
10       prince                                            hello.
11   snow white                                               oh.
12       prince  did i frighten you ? wait. wait, please. don't...
13        queen  take her far into the forest. find some seclud...
14        guard                                yes, your majesty.
15        queen  and there, my faithful huntsman, you will kill...
16        guard          but, your majesty, the little princess !
17        queen       silence ! you know the penalty if you fail.
18        guard                                yes, your majesty.
19        queen  but to make doubly sure... you do not fail, br...
20   snow white                      one song i have but one song
21   snow white  hello there. what's the matter ? where's your ...
22        guard  i can't ! i can't do it ! forgive me. i beg of...
23   snow white                               i don't understand.
24        guard  she's mad! jealous of you! she'll stop at noth...
25   snow white                                      butbut who ?
26        guard                                        the queen!
27   snow white                                       the queen ?
28        guard  now, quick, child, run! run away, hide! in the...
29   snow white  oh! please, don't run away. i won't hurt you. ...
..          ...                                                ...
336      sleepy             maybe the old queen's got snow white.
337         doc                                       the queen !
338  all dwarfs                                      snow white !
339      grumpy     the queen will kill her ! we gotta save her !
340         doc                   yes, yes, wewe gotta save her !
341       happy                                   what'll we do ?
342         doc                             yes, wwhat'll we do ?
343      grumpy                                come on ! giddap !
344         doc                                     wait for me !
345       queen  there must be something your little heart desi...
346  snow white                           well, there is someone.
347       queen  i thought so. i thought so. old granny knows a...
348  snow white                                     i wish i wish
349       queen                          that's it. go on. go on.
350  snow white  ...and that he will carry me away to his castl...
351       queen  fine ! fine ! now, take a bite. don't let the ...
352  snow white                              oh ! i feel strange.
353       queen                            her breath will still.
354  snow white                                               oh.
355       queen                                her blood congeal.
356  snow white                                               oh.
357       queen                 now i'll be fairest in the land !
358      grumpy       hurry, hurry ! there she goes ! after her !
359       queen  i'm trapped. what will i do ? the meddling lit...
360         doc                                        look out !
361      prince                                          one song
362      chorus  one song, i have but one song one song, only f...
363  snow white                         goodbye. goodbye, grumpy.
364   goodbye.                               oh, dopey. goodbye !
365      chorus  some day when spring is here we'll find our lo...

[366 rows x 2 columns]

In [83]:
snow_white["Speaker"].unique()

array(['queen', 'mirror', 'snow white', 'prince', 'guard', 'all dwarfs',
       'doc', 'happy', 'bashful', 'dopey', 'grumpy', 'sneey', 'sneezy',
       "i can't ", 'various dwarfs', 'sleepy', 'grumpy & sneezy',
       ' ahch ', 'chorus', ' goodbye. '], dtype=object)

In [84]:
# "i can't and ' ahch ' and ' goodbye' are not lines
snow_white["Speaker"][snow_white.Speaker == "i can't "]

87    i can't
Name: Speaker, dtype: object

In [85]:
snow_white[["Speaker", "Text"]].iloc[85:89]

       Speaker                                               Text
85     bashful                            huh ? look, goldenrod.
86      sneezy  don't do it. take them away. my nose ! my hay ...
87    i can't                                     i can't i oh !
88  all dwarfs                                             shh !

In [86]:
line_86 = snow_white["Text"].iloc[86]
print(line_86)

don't do it. take them away. my nose ! my hay fever ! you know i can't stand it.

In [87]:
line_87 = snow_white["Text"].iloc[87]
line_87

"i can't i oh ! "

In [88]:
snow_white["Text"].iloc[86] = line_86 + line_87

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [89]:
snow_white["Text"].iloc[86]

"don't do it. take them away. my nose ! my hay fever ! you know i can't stand it. i can't i oh ! "

In [90]:
snow_white = snow_white.drop(index = 87)

In [100]:
snow_white.reset_index(inplace=True)

In [101]:
snow_white.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 12 columns):
index               365 non-null int64
Disney_Period       365 non-null object
Gender              0 non-null object
Movie               365 non-null object
Role                0 non-null object
Song                0 non-null object
Speaker             365 non-null object
Speaker_Status      365 non-null object
Start_Scene         0 non-null object
Text                365 non-null object
UTTERANCE_NUMBER    365 non-null int64
Year                365 non-null int64
dtypes: int64(3), object(9)
memory usage: 21.4+ KB

In [102]:
snow_white.iloc[85:89] #utterance numbers must be revised

,index,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
85,85,EARLY,NaN,Snow White,NaN,NaN,bashful,NON-P,NaN,"huh ? look, goldenrod.",86,1937
86,86,EARLY,NaN,Snow White,NaN,NaN,sneezy,NON-P,NaN,don't do it. take them away. my nose ! my hay ...,87,1937
87,88,EARLY,NaN,Snow White,NaN,NaN,all dwarfs,NON-P,NaN,shh !,89,1937
88,89,EARLY,NaN,Snow White,NaN,NaN,grumpy,NON-P,NaN,ya crazy fool ! fine time ya picked to sneeze !,90,1937

In [103]:
snow_white["Speaker"][snow_white.Speaker == " ahch "]

295     ahch
Name: Speaker, dtype: object

In [105]:
snow_white[["Speaker", "Text"]].iloc[293:298]

        Speaker                                               Text
293      grumpy                                hah ! disgustin' !
294      sneezy  and be sure to watch outto wato wa to wawatch ...
295       ahch                                        ahchooooo !
296  snow white  well... all right. but that's the last oh ! go...
297  snow white   heighho, heighho it's off to work we go heighho

In [106]:
#goshdarn it, sneezy!
line_294 = snow_white["Text"].iloc[294]
line_295 = snow_white["Text"].iloc[295]
snow_white["Text"].iloc[294] = line_294 + line_295

In [108]:
snow_white["Text"].iloc[294]

'and be sure to watch outto wato wa to wawatch out ! ahchooooo ! '

In [109]:
snow_white["Text"].iloc[295]

'ahchooooo ! '

In [110]:
snow_white.drop(index = 295, inplace=True)
snow_white.reset_index(inplace=True)
snow_white["Text"].iloc[293:298]

293                                  hah ! disgustin' !
294    and be sure to watch outto wato wa to wawatch ...
295    well... all right. but that's the last oh ! go...
296     heighho, heighho it's off to work we go heighho
297                                  goodbye. goodbye !
Name: Text, dtype: object

In [114]:
snow_white["Speaker"][snow_white.Speaker == " goodbye. "]

362     goodbye.
Name: Speaker, dtype: object

In [115]:
snow_white[["Speaker", "Text"]].iloc[360:364]

        Speaker                                               Text
360      chorus  one song, i have but one song one song, only f...
361  snow white                         goodbye. goodbye, grumpy.
362   goodbye.                               oh, dopey. goodbye !
363      chorus  some day when spring is here we'll find our lo...

In [118]:
line_361 = snow_white["Text"].iloc[361]
line_362a = snow_white["Speaker"].iloc[362]
line_362 = snow_white["Text"].iloc[362]
snow_white["Text"].iloc[361] = line_361 + line_362a + line_362

In [119]:
snow_white["Text"].iloc[361]

'goodbye. goodbye, grumpy.  goodbye. oh, dopey. goodbye ! '

In [123]:
snow_white.iloc[361]

level_0                                                           362
index                                                             363
Disney_Period                                                   EARLY
Gender                                                            NaN
Movie                                                      Snow White
Role                                                              NaN
Song                                                              NaN
Speaker                                                    snow white
Speaker_Status                                               PRINCESS
Start_Scene                                                       NaN
Text                goodbye. goodbye, grumpy.  goodbye. oh, dopey....
UTTERANCE_NUMBER                                                  364
Year                                                             1937
Name: 361, dtype: object

In [124]:
snow_white.drop(index = 362, inplace = True)

360    one song, i have but one song one song, only f...
361    goodbye. goodbye, grumpy.  goodbye. oh, dopey....
363    some day when spring is here we'll find our lo...
Name: Text, dtype: object

In [126]:
snow_white.reset_index(drop=True,inplace = True)
snow_white["Text"].iloc[360:]

360    one song, i have but one song one song, only f...
361    goodbye. goodbye, grumpy.  goodbye. oh, dopey....
362    some day when spring is here we'll find our lo...
Name: Text, dtype: object

2) Adding columns

Gender

In [132]:
#characters list:
snow_white["Speaker"].unique()

array(['queen', 'mirror', 'snow white', 'prince', 'guard', 'all dwarfs',
       'doc', 'happy', 'bashful', 'dopey', 'grumpy', 'sneey', 'sneezy',
       'various dwarfs', 'sleepy', 'grumpy & sneezy', 'chorus'],
      dtype=object)

In [133]:
for person in snow_white["Speaker"].unique():
    print(person)

queen
mirror
snow white
prince
guard
all dwarfs
doc
happy
bashful
dopey
grumpy
sneey
sneezy
various dwarfs
sleepy
grumpy & sneezy
chorus

there's a typo in the characters: 'sneey' should be 'sneezy'

In [136]:
for speaker in snow_white["Speaker"]:
    if speaker == 'sneey':
        print(snow_white["Speaker"][snow_white.Speaker == "sneey"])

77    sneey
Name: Speaker, dtype: object

In [138]:
snow_white["Speaker"].iloc[77] = 'sneezy'

In [139]:
snow_white["Speaker"].iloc[77]

'sneezy'

In [141]:
snow_white["Speaker"].unique()

array(['queen', 'mirror', 'snow white', 'prince', 'guard', 'all dwarfs',
       'doc', 'happy', 'bashful', 'dopey', 'grumpy', 'sneezy',
       'various dwarfs', 'sleepy', 'grumpy & sneezy', 'chorus'],
      dtype=object)

In [76]:
import functools

In [77]:
from functools import partial
#this allows me to map a column to the whichgen function
#and use predetermined fixed arguments for male/female character lists

In [148]:
# Making Gender Lists
sw_female = ['queen', 'snow white']
sw_male = ['mirror', 'prince', 'guard', 'all dwarfs', 'doc', 'happy', 'bashful', 'dopey', 
           'grumpy', 'sneezy', 'various dwarfs', 'sleepy', 'grumpy & sneezy']
gender_func = partial(whichgen, female = sw_female, male=sw_male)
snow_white["Gender"] = snow_white.Speaker.map(gender_func)

In [149]:
snow_white.head()

,level_0,index,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
0,0,0,EARLY,f,Snow White,NaN,NaN,queen,NON-P,NaN,slave in the magic mirror come from the farthe...,1,1937
1,1,1,EARLY,m,Snow White,NaN,NaN,mirror,NON-P,NaN,"what wouldst thou know, my queen ?",2,1937
2,2,2,EARLY,f,Snow White,NaN,NaN,queen,NON-P,NaN,"magic mirror on the wall, who is the fairest o...",3,1937
3,3,3,EARLY,m,Snow White,NaN,NaN,mirror,NON-P,NaN,"famed is thy beauty, majesty. but hold, a love...",4,1937
4,4,4,EARLY,f,Snow White,NaN,NaN,queen,NON-P,NaN,alas for her ! reveal her name.,5,1937

In [150]:
snow_white.drop(columns=['level_0', 'index'], inplace=True)

In [151]:
snow_white.head()

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
0,EARLY,f,Snow White,NaN,NaN,queen,NON-P,NaN,slave in the magic mirror come from the farthe...,1,1937
1,EARLY,m,Snow White,NaN,NaN,mirror,NON-P,NaN,"what wouldst thou know, my queen ?",2,1937
2,EARLY,f,Snow White,NaN,NaN,queen,NON-P,NaN,"magic mirror on the wall, who is the fairest o...",3,1937
3,EARLY,m,Snow White,NaN,NaN,mirror,NON-P,NaN,"famed is thy beauty, majesty. but hold, a love...",4,1937
4,EARLY,f,Snow White,NaN,NaN,queen,NON-P,NaN,alas for her ! reveal her name.,5,1937

In [152]:
#check no null values in Gender

In [153]:
snow_white.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 363 entries, 0 to 362
Data columns (total 11 columns):
Disney_Period       363 non-null object
Gender              363 non-null object
Movie               363 non-null object
Role                0 non-null object
Song                0 non-null object
Speaker             363 non-null object
Speaker_Status      363 non-null object
Start_Scene         0 non-null object
Text                363 non-null object
UTTERANCE_NUMBER    363 non-null int64
Year                363 non-null int64
dtypes: int64(2), object(9)
memory usage: 18.5+ KB

Roles

In [155]:
snow_white.Speaker.unique()

array(['queen', 'mirror', 'snow white', 'prince', 'guard', 'all dwarfs',
       'doc', 'happy', 'bashful', 'dopey', 'grumpy', 'sneezy',
       'various dwarfs', 'sleepy', 'grumpy & sneezy', 'chorus'],
      dtype=object)

In [156]:
#Make Roles lists
sw_pro = ['snow white', 'prince']
sw_ant = ['queen', 'mirror', 'guard']
sw_helper = ['all dwarfs', 'doc', 'happy', 'bashful', 'dopey', 'grumpy', 'sneezy', 'various dwarfs', 
             'sleepy', 'grumpy & sneezy']

In [157]:
role_func = partial(whichrole, pro = sw_pro, ant = sw_ant, helper = sw_helper)
snow_white["Role"] = snow_white.Speaker.map(role_func)

In [158]:
snow_white.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 363 entries, 0 to 362
Data columns (total 11 columns):
Disney_Period       363 non-null object
Gender              363 non-null object
Movie               363 non-null object
Role                363 non-null object
Song                0 non-null object
Speaker             363 non-null object
Speaker_Status      363 non-null object
Start_Scene         0 non-null object
Text                363 non-null object
UTTERANCE_NUMBER    363 non-null int64
Year                363 non-null int64
dtypes: int64(2), object(9)
memory usage: 18.5+ KB

In [162]:
snow_white.sample(5)

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
315,EARLY,f,Snow White,PRO,NaN,snow white,PRINCESS,NaN,hmm ?,318,1937
28,EARLY,m,Snow White,ANT,NaN,guard,NON-P,NaN,"now, quick, child, run! run away, hide! in the...",29,1937
238,EARLY,m,Snow White,HELPER,NaN,sneezy,NON-P,NaN,be careful. watch out. bebe carewatch it ! wat...,240,1937
247,EARLY,m,Snow White,HELPER,NaN,bashful,NON-P,NaN,a love story.,249,1937
264,EARLY,m,Snow White,HELPER,NaN,doc,NON-P,NaN,"oh, we'll be quite comfortable down here... in...",266,1937

Finding songs:

Anything uttered by 'chorus' will be a song, but snow white, the dwarfs, and the prince also sing

In [164]:
snow_white[["Speaker", "Text"]][snow_white.Speaker == 'chorus']

    Speaker                                               Text
360  chorus  one song, i have but one song one song, only f...
362  chorus  some day when spring is here we'll find our lo...

In [188]:
#searching for some song key words in snow white
song_lines = ['one day', 'wishing well', 'some day', 'smile and a song', 'one song', 'dig', 'heighho', 'whistle']
for line in song_lines:
    print(snow_white[["Speaker", "Text"]][snow_white.Text.str.contains(line, regex = False)])

Empty DataFrame
Columns: [Speaker, Text]
Index: []
      Speaker                                               Text
7  snow white  want to know a secret ? promise not to tell ? ...
        Speaker                                               Text
258       happy  he was so romantic i could not resist some day...
260  snow white  some day when spring is here we'll find our lo...
304  snow white  some day my prince will come some day we'll me...
362      chorus  some day when spring is here we'll find our lo...
       Speaker                                               Text
30  snow white  oh ! you sing a song ! ahahahahahh with a smil...
31  snow white  with a smile and a song all the world seems to...
33  snow white                           with a smile and a song
        Speaker                                               Text
12       prince  did i frighten you ? wait. wait, please. don't...
20   snow white                      one song i have but one song
359      prince                                          one song
360      chorus  one song, i have but one song one song, only f...
       Speaker                                               Text
44  all dwarfs  we dig, dig, dig, dig dig, dig, dig in our min...
47  all dwarfs         shine we dig, dig, dig, dig dig, dig, dig
49  all dwarfs  we dig, dig, dig, dig dig, dig, dig up everyth...
50  all dwarfs  a thousand rubies sometimes more though we don...
51  all dwarfs  we dig, dig digadig, dig heighho, heighho, hei...
        Speaker                                               Text
51   all dwarfs  we dig, dig digadig, dig heighho, heighho, hei...
52   all dwarfs  heighho, heighho heighho, heighho, heighho, he...
53   all dwarfs  heighho, heighho, heighho, heighho, heighho it...
57   all dwarfs  heighho, heighho heighho, heighho heighho, hei...
58   all dwarfs  heighho, heighho heighho, heighho, heighho it'...
59   all dwarfs  heighho, heighho heighho, heighho, heighho it'...
60   all dwarfs  heighho, heighho heighho, heighho it's home fr...
61   all dwarfs                            heighho, heighho heigh
296  snow white   heighho, heighho it's off to work we go heighho
321       queen  heighho, heighho heighho, heighho it's off to ...
Empty DataFrame
Columns: [Speaker, Text]
Index: []

In [194]:
snow_white[["Speaker","Text"]].iloc[295:]

            Speaker                                               Text
295      snow white  well... all right. but that's the last oh ! go...
296      snow white   heighho, heighho it's off to work we go heighho
297      snow white                                goodbye. goodbye !
298          grumpy  now, i'm warnin' ya. don't let nobody or nothi...
299      snow white                         why, grumpy, you do care.
300          grumpy                                             huh !
301      snow white                                 goodbye, grumpy !
302           queen  the little men will be away... and she'll be a...
303           queen                     a harmless old peddler woman.
304      snow white  some day my prince will come some day we'll me...
305           queen                               all alone, my pet ?
306      snow white                            whywhy, yes, i am, but
307           queen                  the... little men are not here ?
308      snow white                        no, they're not, butmmhmm.
309           queen                                     makin' pies ?
310      snow white                              yes, gooseberry pie.
311           queen  it's apple pies that makes the menfolks' mouth...
312      snow white                       oh, they do look delicious.
313           queen        yes ! but wait 'til you taste one, dearie.
314           queen                                 like to try one ?
315      snow white                                             hmm ?
316           queen                        go on. go on, have a bite.
317           queen                                         ah ! ah !
318      snow white  stop it, stop it. go away, go away. shame on y...
319      snow white  oh, i thought i lost it. there, there. i'm sor...
320           queen  oh ! my heart ! oh, mymy poor heart. take me i...
321           queen  heighho, heighho heighho, heighho it's off to ...
322             doc                                       hey, look !
323  various dwarfs    stop that. get away ! get away ! go on, shoo !
324          grumpy                           go on, get outta here !
..              ...                                                ...
333          grumpy  'tain't natural. there's something wrong ! the...
334          sleepy             maybe the old queen's got snow white.
335             doc                                       the queen !
336      all dwarfs                                      snow white !
337          grumpy     the queen will kill her ! we gotta save her !
338             doc                   yes, yes, wewe gotta save her !
339           happy                                   what'll we do ?
340             doc                             yes, wwhat'll we do ?
341          grumpy                                come on ! giddap !
342             doc                                     wait for me !
343           queen  there must be something your little heart desi...
344      snow white                           well, there is someone.
345           queen  i thought so. i thought so. old granny knows a...
346      snow white                                     i wish i wish
347           queen                          that's it. go on. go on.
348      snow white  ...and that he will carry me away to his castl...
349           queen  fine ! fine ! now, take a bite. don't let the ...
350      snow white                              oh ! i feel strange.
351           queen                            her breath will still.
352      snow white                                               oh.
353           queen                                her blood congeal.
354      snow white                                               oh.
355           queen                 now i'll be fairest in the land !
356          grumpy       hurry, hurry ! there she goes ! after her !
357           queen  i'm trapped. what will i do ? the meddling lit...
358             doc                                        look out !
359          prince                                          one song
360          chorus  one song, i have but one song one song, only f...
361      snow white  goodbye. goodbye, grumpy.  goodbye. oh, dopey....
362          chorus  some day when spring is here we'll find our lo...

[68 rows x 2 columns]

In [202]:
snow_white[["Speaker", "Text"]].iloc[28]

Speaker                                                guard
Text       now, quick, child, run! run away, hide! in the...
Name: 28, dtype: object

In [199]:
snow_white["Text"].iloc[321]

"heighho, heighho heighho, heighho it's off to work we go "

In [175]:
snow_white["Text"].iloc[12] #not all song

"did i frighten you ? wait. wait, please. don't run away. now that i've found you hear what i have to say one song i have but one song one song only for you one heart tenderly beating ever entreating constant and true one love that has possessed me one love thrilling me through one song my heart keeps singing of one love only for you "

In [183]:
for line in snow_white["Text"].iloc[12:25]:
    print(line)
    print('\n')

did i frighten you ? wait. wait, please. don't run away. now that i've found you hear what i have to say one song i have but one song one song only for you one heart tenderly beating ever entreating constant and true one love that has possessed me one love thrilling me through one song my heart keeps singing of one love only for you


take her far into the forest. find some secluded glade where she can pick wildflowers.


yes, your majesty.


and there, my faithful huntsman, you will kill her !


but, your majesty, the little princess !


silence ! you know the penalty if you fail.


yes, your majesty.


but to make doubly sure... you do not fail, bring back her heart...


one song i have but one song


hello there. what's the matter ? where's your mama and papa ? why, i believe you're lost. oh, please, don't cry. come on. perk up. won't you smile for me ? that's better. your mama and papa can't be far. there they are. can you fly ? goodbye. goodbye !


i can't ! i can't do it ! forgive me. i beg of your highness, forgive me.


i don't understand.


she's mad! jealous of you! she'll stop at nothing !

In [176]:
snow_white["Text"].iloc[7]

"want to know a secret ? promise not to tell ? we are standing by a wishing well make a wish into the well that's all you have to do and if you hear it echoing your wish will soon come true i'm wishing i'm wishing for the one i love to find me to find me today today i'm hoping i'm hoping and i'm dreaming of the nice things the nice things he'll say he'll say ahahahahahh ahahahahahh ahahahahahh ah, ah, ah, ah, ahh i'm wishing i'm wishing for the one i love to find me to find me today "

In [182]:
for line in snow_white["Text"].iloc[29:35]:
    print(line)
    print('\n')

oh! please, don't run away. i won't hurt you. i'm awfully sorry. i didn't mean to frighten you. but you don't know what i've been through. and all because i was afraid. i'm so ashamed of the fuss i've made. what do you do when things go wrong ?


oh ! you sing a song ! ahahahahahh with a smile and a song life is just like a bright, sunny day your cares fade away and your heart is


with a smile and a song all the world seems to waken anew rejoicing with you as the song is sung there's no use in grumbling when raindrops come tumbling


remember you're the one who can fill the world with sunshine when you smile and you sing everything is in tune and it's spring and life flows along


with a smile and a song


i really feel quite happy now. i'm sure i'll get along somehow. everything's going to be all right. but i do need a place to sleep at night.

In [197]:
# 30-33 are songs
# 7 is a song
# 12 is kind of song? The second half is
# 20 is song
# 44-53, 57-61
# 296, 321 (but labeled incorrectly)
song_indices = [7, 12, 20, 30, 31, 32, 33, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 57, 58, 59, 60, 61, 296, 321]

In [205]:
song_func = partial(is_dialogue, song=song_indices)
snow_white["Song"] = snow_white.index.map(song_func)

In [206]:
snow_white.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 363 entries, 0 to 362
Data columns (total 11 columns):
Disney_Period       363 non-null object
Gender              363 non-null object
Movie               363 non-null object
Role                363 non-null object
Song                363 non-null object
Speaker             363 non-null object
Speaker_Status      363 non-null object
Start_Scene         0 non-null object
Text                363 non-null object
UTTERANCE_NUMBER    363 non-null int64
Year                363 non-null int64
dtypes: int64(2), object(9)
memory usage: 18.5+ KB

In [207]:
snow_white.head(10)

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
0,EARLY,f,Snow White,ANT,D,queen,NON-P,NaN,slave in the magic mirror come from the farthe...,1,1937
1,EARLY,m,Snow White,ANT,D,mirror,NON-P,NaN,"what wouldst thou know, my queen ?",2,1937
2,EARLY,f,Snow White,ANT,D,queen,NON-P,NaN,"magic mirror on the wall, who is the fairest o...",3,1937
3,EARLY,m,Snow White,ANT,D,mirror,NON-P,NaN,"famed is thy beauty, majesty. but hold, a love...",4,1937
4,EARLY,f,Snow White,ANT,D,queen,NON-P,NaN,alas for her ! reveal her name.,5,1937
5,EARLY,m,Snow White,ANT,D,mirror,NON-P,NaN,lips red as the rose. hair black as ebony. ski...,6,1937
6,EARLY,f,Snow White,ANT,D,queen,NON-P,NaN,snow white !,7,1937
7,EARLY,f,Snow White,PRO,S,snow white,PRINCESS,NaN,want to know a secret ? promise not to tell ? ...,8,1937
8,EARLY,m,Snow White,PRO,D,prince,PRINCE,NaN,today,9,1937
9,EARLY,f,Snow White,PRO,D,snow white,PRINCESS,NaN,oh !,10,1937

In [200]:
snow_white["Speaker"].iloc[296] = 'all dwarfs'
snow_white["Speaker"].iloc[321] = 'all dwarfs'

In [195]:
for line in snow_white["Text"].iloc[43:65]:
    print(line)
    print('\n')

now, you wash the dishes. you tidy up the room. you clean the fireplace. and i'll use the broom.


we dig, dig, dig, dig dig, dig, dig in our mine the whole day through to dig, dig, dig, dig dig, dig, dig is what we like to do it ain't no trick to get rich quick if ya dig, dig, dig with a shovel or a pick in a mine


in a mine in a mine


in a mine where a million diamonds


shine we dig, dig, dig, dig dig, dig, dig


from early morn 'til night


we dig, dig, dig, dig dig, dig, dig up everything in sight we dig up diamonds by the score


a thousand rubies sometimes more though we don't know what we dig 'em for


we dig, dig digadig, dig heighho, heighho, heighho, heighho, heighho, heighho, heighho it's home from work we go heighho, heighho, heighho, heighho, heighho it's home from work we go


heighho, heighho heighho, heighho, heighho, heighho heighho, heighho, heighhohum heighho, heighho it's home from work we go


heighho, heighho, heighho, heighho, heighho it's home from work we go heighho, heighho, heighho, heighho, heighho it's home from work we go heighho, heighho, heighho, heighho


let's see what's upstairs.


oh, what adorable little beds. and look, they have their names carved on them. doc, happy, sneezy, dopey


what funny names for children. grumpy, bashful and sleepy. i'm a little sleepy myself. oh, oh.


heighho, heighho heighho, heighho heighho, heighho it's home from work we go


heighho, heighho heighho, heighho, heighho it's home from work we go


heighho, heighho heighho, heighho, heighho it's home from work we go


heighho, heighho heighho, heighho it's home from work we go


heighho, heighho heigh


look ! our house ! the lit's lightuh, the light's lit.


jiminy crickets. the door is open. the chimney's smokin'. something's in there. maybe a ghost. or a goblin. a demon. or a dragon. grumpy; mark my words, there's trouble abrewin'. felt it comin' all day. my corns hurt.


gosh.

## Cinderella
### 1) Gender

In [208]:
cinderella = disney[disney.Movie == "Cinderella"]
cinderella.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 497 entries, 366 to 862
Data columns (total 11 columns):
Disney_Period       497 non-null object
Gender              0 non-null object
Movie               497 non-null object
Role                0 non-null object
Song                0 non-null object
Speaker             497 non-null object
Speaker_Status      497 non-null object
Start_Scene         0 non-null object
Text                497 non-null object
UTTERANCE_NUMBER    497 non-null int64
Year                497 non-null int64
dtypes: int64(2), object(9)
memory usage: 29.1+ KB

In [212]:
cinderella.Speaker.unique()

array(['offstage singing voice', 'narrator', 'cinderella', 'birds',
       'birds chirping', 'cinderella ', 'jaq', 'mice', 'gus', 'lucifer',
       'mouse', 'anastasia', 'drizella', 'anastasia and drizella',
       'stepmother', 'king', 'grand duke', 'royal postman',
       'jaq and mice', 'perla and mice', 'offscreen singing',
       'fairy godmother', 'horse', 'herald', 'prince', 'both', 'ladies',
       'jaq and gus', 'coachman', 'singing'], dtype=object)

In [213]:
#fixing typo's with white space
cinderella.Speaker = cinderella.Speaker.map(lambda x: x.strip())

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [214]:
len(cinderella.Speaker.unique())

29

In [217]:
c_female = ['cinderella', 'anastasia', 'drizella', 'anastasia and drizella', 'stepmother', 'fairy godmother', 'ladies',
           'narrator', 'perla and mice']
c_male = ['jaq', 'gus', 'lucifer', 'king', 'grand duke', 'royal postman', 'jaq and mice', 'jaq and gus', 'herald', 'prince', 'coachman']

In [218]:
len(c_female) + len(c_male)

20

In [219]:
gender_func = partial(whichgen, female = c_female, male=c_male)
cinderella["Gender"] = cinderella.Speaker.map(gender_func)

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [220]:
cinderella.head()

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
366,EARLY,n,Cinderella,NaN,NaN,offstage singing voice,NON-P,NaN,"cinderella, you're as lovely as your name cind...",1,1950
367,EARLY,f,Cinderella,NaN,NaN,narrator,NON-P,NaN,once upon a time in a faraway land there was a...,2,1950
368,EARLY,f,Cinderella,NaN,NaN,narrator,NON-P,NaN,"well, try again. okay wake up, wake up. cinder...",3,1950
369,EARLY,f,Cinderella,NaN,NaN,cinderella,PRINCESS,NaN,well serves you right spoiling people's best d...,4,1950
370,EARLY,n,Cinderella,NaN,NaN,birds,NON-P,NaN,what kind of dream?,5,1950

In [221]:
cinderella.Text.iloc[368] #this doesn't match the index I wanted. Will reindex

'yyyes your majesty. '

In [222]:
cinderella.reset_index(drop=True, inplace=True)

In [223]:
cinderella.head()

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
0,EARLY,n,Cinderella,NaN,NaN,offstage singing voice,NON-P,NaN,"cinderella, you're as lovely as your name cind...",1,1950
1,EARLY,f,Cinderella,NaN,NaN,narrator,NON-P,NaN,once upon a time in a faraway land there was a...,2,1950
2,EARLY,f,Cinderella,NaN,NaN,narrator,NON-P,NaN,"well, try again. okay wake up, wake up. cinder...",3,1950
3,EARLY,f,Cinderella,NaN,NaN,cinderella,PRINCESS,NaN,well serves you right spoiling people's best d...,4,1950
4,EARLY,n,Cinderella,NaN,NaN,birds,NON-P,NaN,what kind of dream?,5,1950

In [226]:
cinderella.Speaker.iloc[2] = 'cinderella'
#I understand why the warning below shows up, but I'm not sure how to improve this

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [227]:
cinderella.head()

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
0,EARLY,n,Cinderella,NaN,NaN,offstage singing voice,NON-P,NaN,"cinderella, you're as lovely as your name cind...",1,1950
1,EARLY,f,Cinderella,NaN,NaN,narrator,NON-P,NaN,once upon a time in a faraway land there was a...,2,1950
2,EARLY,f,Cinderella,NaN,NaN,cinderella,NON-P,NaN,"well, try again. okay wake up, wake up. cinder...",3,1950
3,EARLY,f,Cinderella,NaN,NaN,cinderella,PRINCESS,NaN,well serves you right spoiling people's best d...,4,1950
4,EARLY,n,Cinderella,NaN,NaN,birds,NON-P,NaN,what kind of dream?,5,1950

### 2) Role

In [228]:
cinderella.Speaker.unique()

array(['offstage singing voice', 'narrator', 'cinderella', 'birds',
       'birds chirping', 'jaq', 'mice', 'gus', 'lucifer', 'mouse',
       'anastasia', 'drizella', 'anastasia and drizella', 'stepmother',
       'king', 'grand duke', 'royal postman', 'jaq and mice',
       'perla and mice', 'offscreen singing', 'fairy godmother', 'horse',
       'herald', 'prince', 'both', 'ladies', 'jaq and gus', 'coachman',
       'singing'], dtype=object)

In [229]:
c_pro = ['cinderella', 'prince']
c_ant = ['lucifer', 'anastasia', 'drizella', 'anastasia and drizella', 'stepmother']
c_helper = ['birds', 'jaq', 'mice', 'gus', 'mouse', 'jaq and mice', 'perla and mice', 'fairy godmother', 
           'jaq and gus']

In [230]:
len(c_pro) + len(c_ant) + len(c_helper)

16

In [231]:
role_func = partial(whichrole, pro = c_pro, ant = c_ant, helper = c_helper)
cinderella["Role"] = cinderella.Speaker.map(role_func)

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [232]:
cinderella.head()

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
0,EARLY,n,Cinderella,N,NaN,offstage singing voice,NON-P,NaN,"cinderella, you're as lovely as your name cind...",1,1950
1,EARLY,f,Cinderella,N,NaN,narrator,NON-P,NaN,once upon a time in a faraway land there was a...,2,1950
2,EARLY,f,Cinderella,PRO,NaN,cinderella,NON-P,NaN,"well, try again. okay wake up, wake up. cinder...",3,1950
3,EARLY,f,Cinderella,PRO,NaN,cinderella,PRINCESS,NaN,well serves you right spoiling people's best d...,4,1950
4,EARLY,n,Cinderella,HELPER,NaN,birds,NON-P,NaN,what kind of dream?,5,1950

### 3) Songs

In [246]:
c_song_words = ['dream is a wish', 'nightingale','cinderelly','we can do it','so this is love', 'bibbidi']
for line in c_song_words:
    print(cinderella[["Speaker", "Text"]][cinderella.Text.str.contains(line, regex = False)])

        Speaker                                               Text
8    cinderella  a dream is a wish your heart makes when you're...
201         jaq  a dream is a wish your heart makes when you're...
        Speaker                                               Text
126    drizella  sing sweet nightingale sing sweet nightingale ...
127  cinderella  hiiiigh above oh, sing sweet nightingale sing ...
134    drizella  sing sweet nightingale sing sweet nightingale ...
            Speaker                                               Text
21              jaq  zukzuk cinderelly, zukzuk. now, now, now, look...
59             mice                           cinderelly, cinderelly.
130             jaq          from the king. what's it say cinderelly?
174             jaq  poor cinderelly. every time she finds a minute...
176    jaq and mice  cinderelly, cinderelly night and day it's cind...
177             jaq  yeah. keep a busy. you know what? cinderelly's...
180             gus                                 ppoor cinderelly.
181  perla and mice  hey we can do it! we can do it!, we can do it!...
182             jaq  follow me gusgus. i know where to go. find the...
183             gus  surprise, surprise. pretty surprise for cinder...
330             jaq        cinderelly, look, look, look! the slipper!
332     jaq and gus            your slipper cinderelly, your slipper!
396             gus                we do! we do! cinderelly! cinderell
414             jaq                                       cinderelly!
415             gus                                       cinderelly!
420             gus  no, no. she can't do it! she can't lock up cin...
443             gus        no, no, no! cinderelly's slipper! cinderell
467             jaq  gusgus! gusgus! oh come on. look, look. just u...
            Speaker                                               Text
181  perla and mice  hey we can do it! we can do it!, we can do it!...
        Speaker                                               Text
306  cinderella                              so this is love, mmm
307      prince                                   so this is love
308        both  so this is what makes life divine i'm all aglo...
410  cinderella  ladadada so this is love lada dadadadum ladada...
             Speaker                                               Text
260  fairy godmother  salagadoolamenchikaboola bibbidibobbidiboo put...
267  fairy godmother  oh this is really as nice. why we'll have a co...
271  fairy godmother  but tonight for a change you'll handle the rei...
275  fairy godmother  yes it's lovely, dear. good heavens child! you...
281  fairy godmother  bless you my child. igoodness me! it's getting...

In [239]:
for line in cinderella.Text.iloc[7:12]:
    print(line)
    print('\n')

'cause if you tell a wish it won't come true and after all


a dream is a wish your heart makes when you're fast asleep in dreams you will lose your heartaches whatever you wish for, you keep have faith in your dreams and someday your rainbow will come smiling through no matter how your heart is grieving if you keep on believing the dream that you wish will come true oh that clock! old killjoy i hear you! "come on. get up, you say time to start another day". even he orders me around. well there's one thing they can't order me to stop dreaming and perhaps someday ...the dreams that i wish will come true


shoo, shoo get in there. la, la, da, da, di da, diddelydo lalalalalalalala ladi dadada dadahmm no matter how your heart is grieving if you keep on believing the dream that you wish will come true


wait a minute, wait a minute. one at a time, please. now jaq what's all the fuss about?


new mouse in the house. brand new. never saw before. visitor, visitor.

In [240]:
#8 and 9 are song

In [261]:
cinderella[["Speaker", "Text"]].iloc[200:203]

    Speaker                                               Text
200     jaq                                              shh!
201     jaq  a dream is a wish your heart makes when you're...
202   mouse                                               oh!

In [262]:
#fixing this line
cinderella.Speaker.iloc[201] = 'cinderella'

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [244]:
for line in cinderella.Text.iloc[125:140]:
    print(line)
    print('\n')

yes your majesty.


sing sweet nightingale sing sweet nightingale hiiiigh above me oh sing sweet nightingale sing sweet nightingale


hiiiigh above oh, sing sweet nightingale sing sweet nightingale high oh, sing sweet nightingale sing sweet nightingale oh, sing sweet nightingale sing sweet oh, sing sweet nightingale, sing oh sing sweet nightingale oh, sing sweet oh, sing oh lucifer! you mean old thing! i'm just going to have to teach you a lesson.


open in the name of the king. an urgent message from his imperial majesty.


thank you.


from the king. what's it say cinderelly?


uh, uh, uh what's it say? huh?


i don't know. he said it's urgent


maybe i should interrupt the, uh, music lesson.


sing sweet nightingale sing sweet nightingale hiiiigh iiiiii you clumsyyou did it on purpose


you're always spoiling my


girls, girls! remember above all, selfcontrol.


yes! cinderella i've warned you never to interrupt


but this just arrived from the palace.


from the palace!

In [247]:
#126, 127, 134 are songs (though 127 and 134 all end in spoken words)

In [250]:
for line in cinderella.Text.iloc[174:190]:
    print(line)
    print('\n')

poor cinderelly. every time she finds a minute that's time when they begin it. cinderelly, cinderelly.


cinderella!


cinderelly, cinderelly night and day it's cinderelly make the fire fix the breakfast wash the dishes do the mopping and the sweeping and the dusting they always keep her hopping she go around in circles till she very, very dizzy still they holler keep a busy cinderelly


yeah. keep a busy. you know what? cinderelly's not going to the ball.


what? not going? what did you say?


you'll see they fix her. work, work, work. she'll never get her dress done.


ppoor cinderelly.


hey we can do it! we can do it!, we can do it! we can help our cinderelly we can make the dress so pretty there's nothing to it, really we'll tie a sash around it put a ribbon thru it when dancing at the ball she'll be more beautiful than all in the lovely dress we'll make for cinderelly hurry!, hurry! hurry! hurry! gonna help our cinderelly got no time to dilly, dally we gotta get a goin' i'll cut with these scissors and i can do the sewing leave the sewing to the women you go get some trimmin' and we'll make a lovely dress for cinderelly we'll make a lovely dress for cinderelly


follow me gusgus. i know where to go. find the prettypretty. quick as you can, cinderelly be surprised.


surprise, surprise. pretty surprise for cinderelly.


and this too, cinderella. my slippers. now don't forget


cinderella take my dress.


here mend the buttonholes.


and press my skirt too and mind the ruffles.


and cinderella


yes?

In [251]:
#176, 181 are songs

In [252]:
for line in cinderella.Text.iloc[305:315]:
    print(line)
    print('\n')

ahem.


so this is love, mmm


so this is love


so this is what makes life divine i'm all aglow, mmm and now i know and now i know the key to all heaven is mine my heart has wings, mmm and i can fly i'll touch every star in the sky so this is the miracle that i've been dreaming of mmm, mmm so this is love


oh my goodness!


what's the matter?


it's midnight.


yes so it is but why


goodbye


no, no wait. you can't go now. it's only

In [256]:
#306, 307, 308
for line in cinderella.Text.iloc[408:420]:
    print(line)
    print('\n')

are you going to let her walk


quiet!


ladadada so this is love lada dadadadum ladadadum


what's she gonna do?


shhh. i don't know. gotta watch her. come on!


ladatadadada


cinderelly!


cinderelly!


so this is the miracle that i've been dreaming of


look out! look out!. behind you! behind you!


what?


oh, oh no! no please! oh you can't. you just can't! let me out! you must let me out! you can't keep me in here! oh please!

In [257]:
#410, 413, 416 are songs
for line in cinderella.Text.iloc[255:285]:
    print(line)
    print('\n')

look what she did!


uhm duh, duh how she do it?


now let's see. hmm. i'd say the first thing you need is aa pumpkin.


a pumpkin?


hmmhmmm. now hu now the magic words. uhoh ahem!


salagadoolamenchikaboola bibbidibobbidiboo put'em together and what have you got bibbidibobbidiboo salagadoolamenchikaboola bibbidibobbidiboo it'll do magic believe it or not bibbidibobbidiboo now salagadoola means menchika booleroo but the thina a mabob that does the job is bibbidibobbidiboo salagadoolamenchikaboola bibbidibobbidiboo put'em together and what have you got bibbidibobbidi bibbidibobbidi bibbidibobbidiboo


oh lookee, lookee! isn't it wonderfee? isn't it huh?


oh it's beautiful!


yes isn't it?. now with an elegant coach like that of course we'll simply have to have, uh....


ahem


mice.


uh, uh mice?


oh this is really as nice. why we'll have a coach and four when we're through. just a wave of my stick and to finish the trick, bibbidi, bobbidi, boo gus runs away gracious, what did i do? i was sure there were four of them. there should be one more... there you are, bibbidi, bobbidi, boo!


oh poor lucifer.


serves him right i'd say. now, um, where were we? oh goodness yes. you can't go to the ball without aa horse.


another one?


but tonight for a change you'll handle the reins and sit in the driver's seat too. for instead of a horse you're the coachman of course. bibbidi, bobbidi, boo!. well that does it. i guess except foroh yes the finishing touch. and that's you. yes bruno that's right. you'll be footman tonight. bibbidi, bobbidi, boo! well, well hop in my dear. we can't waste time.


but uh


oh now, now, now. don't try to thank me.


oh i wasn't. ii mean, i do butbut don't you think my dress


yes it's lovely, dear. good heavens child! you can't go in that. now uh, let's see dear. your size and the shade of your eyes. mmhmmm. something simple but daring too. oh! just leave it to me. what a gown this will be. bibbidi, bobbidi, bibbidi, bobbidi, bibbidi, bobbidi, boo!


oh it's a beautiful dress. did you ever see such a beautiful dress? and look glass slippers. why it's like a dream. a wonderful dream come true.


yes my child, but like all dreams well, i'm afraid this can't last forever. you'll have only till midnight and then


midnight? oh thank you.


oh, now, now, now just a moment. you must understand my dear. on the stroke of twelve the spell will be broken and everything will be as it was before.


oh i understand but it's more than i ever hoped for.


bless you my child. igoodness me! it's getting late! hurry up dear. the ball can't wait. have a good time. dance! be gay! now off you go. you're on your way. with a bibbidibobbidi bibbidi, bobbidi bibbidibobbidiboo


the princess federica eugenie de la fontaine. m'amselle augustine dubois, the daughter of general pierre dubois.


bah! the boy isn't cooperating.


m'amselle leonore mercedes de la torre, daughter of colonel and madam de la torre.

In [258]:
#260, 267, 271 are songs (i left out other lines w/ bibbidi in them because they are mostly spoken)

In [263]:
#Finally, looking at chorus and singing voice lines
cinderella.Speaker.unique()

array(['offstage singing voice', 'narrator', 'cinderella', 'birds',
       'birds chirping', 'jaq', 'mice', 'gus', 'lucifer', 'mouse',
       'anastasia', 'drizella', 'anastasia and drizella', 'stepmother',
       'king', 'grand duke', 'royal postman', 'jaq and mice',
       'perla and mice', 'offscreen singing', 'fairy godmother', 'horse',
       'herald', 'prince', 'both', 'ladies', 'jaq and gus', 'coachman',
       'singing'], dtype=object)

In [268]:
cinderella[["Speaker", "Text"]][cinderella.Speaker == 'offstage singing voice']

                  Speaker                                               Text
0  offstage singing voice  cinderella, you're as lovely as your name cind...

In [269]:
cinderella[["Speaker", "Text"]][cinderella.Speaker == 'offscreen singing']

               Speaker                                               Text
234  offscreen singing  in dreams you will lose your heartaches whatev...
236  offscreen singing             have faith in your dreams and someday
238  offscreen singing            your rainbow will come smiling through
240  offscreen singing  no matter how your heart is grieving if you ke...
242  offscreen singing            the dream that you wish will come true

In [270]:
cinderella[["Speaker", "Text"]][cinderella.Speaker == 'singing']

     Speaker                                               Text
496  singing  have faith in dreams and someday your rainbow ...

In [273]:
c_songs = [0, 8,9, 126, 127, 134, 176, 181, 234, 236, 238, 240, 242, 260, 267, 271, 306, 307, 308, 410, 413, 416]
song_func = partial(is_dialogue, song=c_songs)
cinderella["Song"] = cinderella.index.map(song_func)

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [274]:
cinderella.head()

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
0,EARLY,n,Cinderella,N,S,offstage singing voice,NON-P,NaN,"cinderella, you're as lovely as your name cind...",1,1950
1,EARLY,f,Cinderella,N,D,narrator,NON-P,NaN,once upon a time in a faraway land there was a...,2,1950
2,EARLY,f,Cinderella,PRO,D,cinderella,NON-P,NaN,"well, try again. okay wake up, wake up. cinder...",3,1950
3,EARLY,f,Cinderella,PRO,D,cinderella,PRINCESS,NaN,well serves you right spoiling people's best d...,4,1950
4,EARLY,n,Cinderella,HELPER,D,birds,NON-P,NaN,what kind of dream?,5,1950

## Sleeping Beauty
### 1) Gender

In [277]:
s_b = disney[disney.Movie == 'Sleeping Beauty']

In [278]:
s_b.head()

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
863,EARLY,NaN,Sleeping Beauty,NaN,NaN,narrator,NON-P,NaN,"in a far away land, long ago, lived a king and...",1,1959
864,EARLY,NaN,Sleeping Beauty,NaN,NaN,choir,NON-P,NaN,"joyfully now to our princess we come, bringing...",2,1959
865,EARLY,NaN,Sleeping Beauty,NaN,NaN,narrator,NON-P,NaN,thus on this great and joyous day did all the ...,3,1959
866,EARLY,NaN,Sleeping Beauty,NaN,NaN,announcer,NON-P,NaN,"their royal highnesses, king hubert and prince...",4,1959
867,EARLY,NaN,Sleeping Beauty,NaN,NaN,narrator,NON-P,NaN,fondly had these monarchs dreamed one day thei...,5,1959

In [279]:
s_b.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 462 entries, 863 to 1324
Data columns (total 11 columns):
Disney_Period       462 non-null object
Gender              0 non-null object
Movie               462 non-null object
Role                0 non-null object
Song                0 non-null object
Speaker             462 non-null object
Speaker_Status      462 non-null object
Start_Scene         0 non-null object
Text                462 non-null object
UTTERANCE_NUMBER    462 non-null int64
Year                462 non-null int64
dtypes: int64(2), object(9)
memory usage: 27.1+ KB

In [280]:
s_b.Speaker.unique()

array(['narrator', 'choir', 'announcer', 'fairies', 'flora', 'fauna',
       'merryweather', 'maleficent', 'queen', 'stefan', '1st servant',
       '2nd servant', 'servants', 'briar rose', 'phillip', 'owl', 'both',
       'hubert'], dtype=object)

In [284]:
len(s_b.Speaker.unique())

18

In [285]:
s_b_female = ['fairies', 'flora', 'fauna', 'merryweather', 'maleficent', 'queen', 'briar rose']
s_b_male = ['narrator', 'announcer', 'stefan', '1st servant', 'servants', '2nd servant', 'phillip', 'hubert']

In [286]:
len(s_b_female) + len(s_b_male)

15

In [287]:
gender_func = partial(whichgen, female = s_b_female, male=s_b_male)
s_b["Gender"] = s_b.Speaker.map(gender_func)

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [288]:
s_b.head()

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
863,EARLY,m,Sleeping Beauty,NaN,NaN,narrator,NON-P,NaN,"in a far away land, long ago, lived a king and...",1,1959
864,EARLY,n,Sleeping Beauty,NaN,NaN,choir,NON-P,NaN,"joyfully now to our princess we come, bringing...",2,1959
865,EARLY,m,Sleeping Beauty,NaN,NaN,narrator,NON-P,NaN,thus on this great and joyous day did all the ...,3,1959
866,EARLY,m,Sleeping Beauty,NaN,NaN,announcer,NON-P,NaN,"their royal highnesses, king hubert and prince...",4,1959
867,EARLY,m,Sleeping Beauty,NaN,NaN,narrator,NON-P,NaN,fondly had these monarchs dreamed one day thei...,5,1959

### 2) Role

In [289]:
s_b_pro = ['briar rose', 'phillip']
s_b_ant = ['maleficent']
s_b_helper = ['fairies', 'flora', 'fauna', 'merryweather']

In [290]:
role_func = partial(whichrole, pro = s_b_pro, ant = s_b_ant, helper = s_b_helper)
s_b["Role"] = s_b.Speaker.map(role_func)

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [292]:
s_b.sample(5)

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
1220,EARLY,m,Sleeping Beauty,N,NaN,hubert,NON-P,NaN,you have? where?,358,1959
1129,EARLY,f,Sleeping Beauty,HELPER,NaN,flora,NON-P,NaN,"good gracious, who left the mob running?",267,1959
886,EARLY,f,Sleeping Beauty,N,NaN,queen,NON-P,NaN,oh no!,24,1959
1215,EARLY,m,Sleeping Beauty,N,NaN,announcer,NON-P,NaN,"his royal highness, prince phillip",353,1959
1251,EARLY,f,Sleeping Beauty,HELPER,NaN,fairies,NON-P,NaN,"rose, rose! where are you? rose!",389,1959

### 3) Song

In [294]:
#First, reset index
s_b.reset_index(drop=True, inplace = True)

In [295]:
s_b_song_words = ['gift', 'wonder', 'once upon', 'skumps']
for line in s_b_song_words:
    print(s_b[["Speaker", "Text"]][s_b.Text.str.contains(line, regex = False)])

          Speaker                                               Text
1           choir  joyfully now to our princess we come, bringing...
4        narrator  fondly had these monarchs dreamed one day thei...
7           flora  each of us the child may bless with a single g...
8           flora  little princess, my gift shall be the gift of ...
9           choir  one gift, beauty rare full of sunshine in her ...
10          fauna  tiny princess, my gift shall be the gift of so...
11          choir  one gift, the gift of song melody her whole li...
12   merryweather              sweet princess, my gift shall be ...
21     maleficent  why no, your majesty. and to show i bear no il...
27          flora  don't despair, your majesties. merryweather st...
35   merryweather  sweet princess, if through this wicked witches...
375         flora  lock the door, merryweather! fauna, pull the d...
          Speaker                                               Text
145  merryweather                         i wonder if she suspects.
195  merryweather                          sixteen wonderful years.
200    briar rose  i wonder, i wonder, i wonder why each little b...
272    briar rose  oh you darlings, this is the happiest day of m...
        Speaker                                               Text
211  briar rose  and i know it's true that visions are seldom a...
214     phillip                                 once upon a dream
223     phillip  of course, you said so yourself, once upon a d...
224     phillip  i know you i walked with you once upon a dream...
225       choir  and i know it's true that visions are seldom a...
279  briar rose                                once upon a dream!
280  briar rose  i know you i walked with you once upon a dream...
358     phillip                                once upon a dream.
414      hubert                                once upon a dream.
415       flora           once upon a dr... rose! prince phillip!
457       choir   i know you, i walked with you once upon a dream
461       choir  you'll love me at once the way you did once up...
    Speaker                                               Text
305  hubert                                           skumps!
306  stefan                                            skumps
310    both  our children will marry our kingdoms unite sku...
315  hubert                   of course. to the home! skumps!
316  stefan                                           skumps!
320    both                           skumps, skumps, skumps!

In [297]:
s_b.Text.iloc[198:205]

198                                               ohhh!
199                                         no carrots!
200    i wonder, i wonder, i wonder why each little b...
201    oh dear, why do they still treat me like a chi...
202                                                who?
203    why, flora and fauna and merryweather. they ne...
204    but you know something? i fooled 'em. i have m...
Name: Text, dtype: object

In [300]:
#200, 211, 212, 213, 214, 224, 225(which is part of choir lines)
for line in s_b.Text.iloc[205:230]:
    print(line)
    print('\n')

who? who? who?


oh, a prince. well, he's tall and handsome and ... and so romantic. oh we walked together, and talked together, and just before we say goodbye, he takes me in his arms, and then ... i wake up.


yes, it's only in my dreams. but they say if you dream a thing more than once, it's sure to come true. and i've seen him so many times!


you know samson, there was something strange about that voice. too beautiful to be real. maybe it was a mysterious being, a wood sprite ...


there, stop!


oh, why, it's my dream prince!


and i know it's true that visions are seldom all they seem but if i know you i know what you'll do you'll love me at once the way you did once upon a dream


but if i know you i know what you'll do you'll love me at once


the way you did


once upon a dream


oh?


oh!


i'm awfully sorry. i didn't mean to frighten you.


oh it wasn't that. it's just that you're a, a ...


a stranger?


hmmhmm.


but don't you remember? we've met before!


we, we have?


of course, you said so yourself, once upon a dream!


i know you i walked with you once upon a dream i know you the gleam in your eyes is so familiar a gleam


and i know it's true that visions are seldom all they seem but if i know you i know what you'll do you'll love me at once the way you did once upon a dream


who are you, what's your name?


hmm? oh, my name. why, it's, it's ... oh no, no, i can't, i ... goodbye!


but when will i see you again?


oh never, never!

In [301]:
#305-310, 315-320
for line in s_b.Text.iloc[300:330]:
    print(line)
    print('\n')
#303 is a typo

ah, excellent bird!


i'm sorry, hubert, but after sixteen years of worrying, never knowing ...


the past, all in the past.


arrives with a bottle of wine


right, hubert, to the future!


skumps!


skumps


a toast to this knight


the outlook is rosy


the future is bright


our children will marry our kingdoms unite skumps, skumps, skumps!


ah, excellent vintage. and now, to the new home, ey?


new home?


children need a nest of their own, what? place to raise their little brood, ey?


well, i suppose in time ...


of course. to the home! skumps!


skumps!


a toast to the home


one grander by far than a palace in rome


let me fill up your glass, that glass was all foam.


skumps, skumps, skumps!


the plans!


you mean, you're building it already?


built man! finished. the lovebirds can move in tomorrow.


tomorrow? but hubert, they're not even married yet.


take care of that tonight. to the wedding!


now hold on, hubert. i haven't even seen my daughter yet, and you're taking her away from me.


getting my phillip aren't you?


yes, but ...


want to see our grandchildren, don't we?

In [302]:
#find choir lines
s_b[["Speaker", "Text"]][s_b.Speaker == 'choir']

    Speaker                                               Text
1     choir  joyfully now to our princess we come, bringing...
9     choir  one gift, beauty rare full of sunshine in her ...
11    choir  one gift, the gift of song melody her whole li...
36    choir                        for true love conquers all
225   choir  and i know it's true that visions are seldom a...
457   choir   i know you, i walked with you once upon a dream
459   choir  i know you, the gleam in your eyes is so famil...
460   choir  and i know it's true that visions are seldom a...
461   choir  you'll love me at once the way you did once up...

In [304]:
#1, 9, 11, 36, 225, 457, 459, 460, 461
#305-310, 315-320
#200, 211, 212, 213, 214, 224,
s_b_songs = [1,9,11,36,200, 211, 212, 213, 214, 224, 225, 305, 306, 307, 308, 309, 310, 315, 316, 317, 318, 319, 320,
            457, 459, 460, 461]

In [305]:
song_func = partial(is_dialogue, song=s_b_songs)
s_b["Song"] = s_b.index.map(song_func)

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [306]:
s_b.head()

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
0,EARLY,m,Sleeping Beauty,N,D,narrator,NON-P,NaN,"in a far away land, long ago, lived a king and...",1,1959
1,EARLY,n,Sleeping Beauty,N,S,choir,NON-P,NaN,"joyfully now to our princess we come, bringing...",2,1959
2,EARLY,m,Sleeping Beauty,N,D,narrator,NON-P,NaN,thus on this great and joyous day did all the ...,3,1959
3,EARLY,m,Sleeping Beauty,N,D,announcer,NON-P,NaN,"their royal highnesses, king hubert and prince...",4,1959
4,EARLY,m,Sleeping Beauty,N,D,narrator,NON-P,NaN,fondly had these monarchs dreamed one day thei...,5,1959

In [307]:
s_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 462 entries, 0 to 461
Data columns (total 11 columns):
Disney_Period       462 non-null object
Gender              462 non-null object
Movie               462 non-null object
Role                462 non-null object
Song                462 non-null object
Speaker             462 non-null object
Speaker_Status      462 non-null object
Start_Scene         0 non-null object
Text                462 non-null object
UTTERANCE_NUMBER    462 non-null int64
Year                462 non-null int64
dtypes: int64(2), object(9)
memory usage: 23.5+ KB

In [308]:
#quickly fixing 303
s_b.iloc[303]

Disney_Period                               EARLY
Gender                                          m
Movie                             Sleeping Beauty
Role                                            N
Song                                            D
Speaker                                    hubert
Speaker_Status                              NON-P
Start_Scene                                   NaN
Text                arrives with a bottle of wine
UTTERANCE_NUMBER                              304
Year                                         1959
Name: 303, dtype: object

In [309]:
s_b.drop(index =303, inplace=True)

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [310]:
s_b.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 461 entries, 0 to 461
Data columns (total 11 columns):
Disney_Period       461 non-null object
Gender              461 non-null object
Movie               461 non-null object
Role                461 non-null object
Song                461 non-null object
Speaker             461 non-null object
Speaker_Status      461 non-null object
Start_Scene         0 non-null object
Text                461 non-null object
UTTERANCE_NUMBER    461 non-null int64
Year                461 non-null int64
dtypes: int64(2), object(9)
memory usage: 27.0+ KB

In [311]:
s_b.reset_index(drop=True, inplace = True)

In [312]:
s_b.iloc[303]

Disney_Period                                EARLY
Gender                                           m
Movie                              Sleeping Beauty
Role                                             N
Song                                             D
Speaker                                     stefan
Speaker_Status                               NON-P
Start_Scene                                    NaN
Text                right, hubert, to the future!
UTTERANCE_NUMBER                               305
Year                                          1959
Name: 303, dtype: object

## Little Mermaid
### 1) Gender

In [313]:
l_m = disney[disney.Movie == 'The Little Mermaid']

In [314]:
l_m.head()

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
1325,MID,NaN,The Little Mermaid,NaN,NaN,sailors,NON-P,NaN,i'll tell you a tale of the bottomless blue an...,1,1989
1326,MID,NaN,The Little Mermaid,NaN,NaN,eric,PRINCE,NaN,"isn't this great? the salty sea air, the wind ...",2,1989
1327,MID,NaN,The Little Mermaid,NaN,NaN,grimsby,NON-P,NaN,oh yes . . . delightful . . . .,3,1989
1328,MID,NaN,The Little Mermaid,NaN,NaN,sailor 1,NON-P,NaN,a fine strong wind and a following sea. king t...,4,1989
1329,MID,NaN,The Little Mermaid,NaN,NaN,eric,PRINCE,NaN,king triton?,5,1989

In [315]:
l_m.Speaker.unique()

array(['sailors', 'eric', 'grimsby', 'sailor 1', 'sailor 2', 'seahorse',
       'triton', 'sebastian', "triton's daughters", 'flounder', 'ariel',
       'scuttle', 'ariel and flounder', 'ursula', 'sailor', 'andrina',
       'atina', 'flotsam', 'jetsam', 'flotsam and jetsam', 'carlotta',
       'woman 1', 'woman 2', 'louis', 'vanessa', 'priest', 'all'],
      dtype=object)

In [318]:
len(l_m.Speaker.unique())

27

In [316]:
l_m_female = ["triton's daughters", 'ariel', 'ursula', 'andrina', 'atina', 'carlotta', 'woman 1', 'woman 2', 'vanessa']
l_m_male = ['sailors', 'eric', 'grimsby', 'sailor 1', 'sailor 2', 'seahorse', 'triton', 'sebastian', 'flounder', 'scuttle',
           'sailor', 'flotsam', 'jetsam', 'flotsam and jetsam', 'louis', 'priest']

In [317]:
len(l_m_female) + len(l_m_male) #'ariel and flounder' and 'all' are neutral

25

In [319]:
gender_func = partial(whichgen, female = l_m_female, male=l_m_male)
l_m["Gender"] = l_m.Speaker.map(gender_func)

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [321]:
l_m.sample(5)

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
1423,MID,f,The Little Mermaid,NaN,NaN,ariel,PRINCESS,NaN,street up where they walk up where they run up...,99,1989
1473,MID,f,The Little Mermaid,NaN,NaN,andrina,NON-P,NaN,"isn't it obvious, daddy? ariel's in love.",149,1989
1550,MID,m,The Little Mermaid,NaN,NaN,sebastian,NON-P,NaN,come on.,226,1989
1499,MID,m,The Little Mermaid,NaN,NaN,triton,NON-P,NaN,about ariel?,175,1989
1685,MID,f,The Little Mermaid,NaN,NaN,ursula,NON-P,NaN,"why, king triton! ha ha ha how are you?",361,1989

### 2) Role
Note: King Triton tries to prevent Ariel from pursuing her goals in the first half of the movie. He doesn't play as big a role later on in the movie. I may change his role to neutral later in my analysis.

In [324]:
l_m.reset_index(drop = True, inplace = True)

In [322]:
l_m_pro = ['ariel', 'eric']
l_m_ant = ['ursula', 'flotsam', 'jetsam', 'flotsam and jetsam', 'vanessa', 'triton']
l_m_helper = ['flounder', 'sebastian', 'scuttle', 'grimsby']

In [326]:
role_func = partial(whichrole, pro = l_m_pro, ant = l_m_ant, helper = l_m_helper)
l_m["Role"] = l_m.Speaker.map(role_func)

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

### 3) Songs

In [327]:
#finding commong words in the songs: Fathoms Below, Daughters of Triton, Part of Your World, Under the Sea, Poor Unfortunate Souls,
# Kiss the Girl
l_m_song_words = ['fathoms', 'musical', 'world', 'under the sea', 'unfortunate','poissons', 'kiss the girl' ]

In [330]:
for line in l_m_song_words:
    print(line)
    print(l_m[["Speaker", "Text"]][l_m.Text.str.contains(line, regex = False)])
    print('\n')

fathoms
   Speaker                                               Text
0  sailors  i'll tell you a tale of the bottomless blue an...
8  sailors  heave. ho. heave, ho. in mysterious fathoms be...


musical
               Speaker                                               Text
16  triton's daughters  ah, we are the daughters of triton. great fath...


world
       Speaker                                               Text
95       ariel  if only i could make him understand. i just do...
98       ariel  street up where they walk up where they run up...
136      ariel  what would i give to live where you are? what ...
141      ariel  i don't know when i don't know how but i know ...
156  sebastian  down here is your home! ariel listen to me. th...
157  sebastian  the seaweed is always greener in somebody else...
187     triton  contact between the human world and the merwor...
396        all  now we can walk, now we can run, now we can st...


under the sea
       Speaker                                               Text
156  sebastian  down here is your home! ariel listen to me. th...
157  sebastian  the seaweed is always greener in somebody else...


unfortunate
    Speaker                                               Text
229  ursula  my dear, sweet child. that's what i do it's wh...
231  ursula  poor unfortunate souls in pain in need this on...
242  ursula  the men up there don't like a lot of blabber t...


poissons
    Speaker                                               Text
278   louis  les poissons les poissons how i love les poiss...


kiss the girl
       Speaker                                               Text
310  sebastian  there you see her sitting there across the way...
312  sebastian  yes, you want her look at her, you know you do...
316  sebastian  now's your moment floating in a blue lagoon bo...

In [331]:
#Fathoms Below
#just lines 0 and 8
for line in l_m.Text.iloc[:10]:
    print(line)
    print('\n')

i'll tell you a tale of the bottomless blue and it's hey to the starboard, heave ho look out, lad, a mermaid be waitin' for you in mysterious fathoms below.


isn't this great? the salty sea air, the wind blowing in your face . . . a perfect day to be at sea!


oh yes . . . delightful . . . .


a fine strong wind and a following sea. king triton must be in a friendlytype mood.


king triton?


why, ruler of the merpeople, lad. thought every good sailor knew about him.


merpeople! eric, pay no attention to this nautical nonsense.


but it ain't nonsense, it's the truth! i'm tellin' you, down in the depths o' the ocean they live.


heave. ho. heave, ho. in mysterious fathoms below.


ahem . . . his royal highness, king triton!

In [332]:
l_m_songs = [0,8]

In [333]:
#Daughters of Triton
# 16
for line in l_m.Text.iloc[14:18]:
    print(line)
    print('\n')

yes, yes, she has the most beautiful voice. . . .


if only she'd show up for rehearsals once in a while. . . .


ah, we are the daughters of triton. great father who loves us and named us well aquata, andrina, arista, atina, adella, allana. and then there is the est in her musical debut, our seventh little sister, we're presenting her to you, to sing a song sebastian wrote, her voice is like a bell, she's our sister, ari . . . shell opens to reveal that ariel is absent.


ariel!! cut to ariel looking at sunken ship.

In [334]:
l_m_songs.append(16)

In [335]:
#quick edit of these lines
l_m.Text.iloc[16] = "ah, we are the daughters of triton. great father who loves us and named us well aquata, andrina, arista, atina, adella, allana. and then there is the est in her musical debut, our seventh little sister, we're presenting her to you, to sing a song sebastian wrote, her voice is like a bell, she's our sister, ari . . ."
l_m.Text.iloc[17] = 'ariel!!'

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [339]:
# Part of Your World
#96, 97, 98
for line in l_m.Text.iloc[94:100]:
    print(line)
    print('\n')

ariel, are you okay?


if only i could make him understand. i just don't see things the way he does. i don't see how a world that makes such wonderful things could be bad.


look at this stuff isn't it neat? wouldn't you think my collection's complete? wouldn't you think i'm the girl the girl who has ev'rything? look at this trove treasures untold how many wonders can one cavern hold? lookin' around here you'd think sure, she's got everything i've got gadgets and gizmos aplenty i've got whozits and whatzits galore you want thingamabobs? i got twenty but who cares? no big deal i want more i wanna be where the people are i wanna see wanna see 'em dancin' walkin' around on those


flippin' your fins you don't get too far legs are required for jumpin', dancin' strollin' along down a


street up where they walk up where they run up where they stay all day in the sun wanderin' free wish i could be part of that world what would i give if i could live outta these waters? what would i pay to spend a day warm on the sand? betcha on land they understand bet they don't reprimand their daughters bright women sick o' swimmin' ready to stand and ready to know what the people know ask 'em my questions and get some answers what's a fire and why does it what's the word? burn? when's it my turn? wouldn't i love love to explore that shore above? out of the sea wish i could be part of that world sebastian has been struggling around and now comes crashing down making a lot of noise.


sebastian!?

In [341]:
#quick edit of 98
l_m.Text.iloc[98] = "street up where they walk up where they run up where they stay all day in the sun wanderin' free wish i could be part of that world what would i give if i could live outta these waters? what would i pay to spend a day warm on the sand? betcha on land they understand bet they don't reprimand their daughters bright women sick o' swimmin' ready to stand and ready to know what the people know ask 'em my questions and get some answers what's a fire and why does it what's the word? burn? when's it my turn? wouldn't i love love to explore that shore above? out of the sea wish i could be part of that world."

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [342]:
l_m_songs.extend([96, 97, 98])

In [344]:
#Part of Your World Reprise
#136, 141
for line in l_m.Text.iloc[133:150]:
    print(line)
    print('\n')

is he dead?


it's hard to say.


no, look! he's breathing. he's so, beautiful.


what would i give to live where you are? what would i pay to stay here beside you? what would i do to see you smiling at me? where would we walk? where would we run? if we could stay all day in the sun? just you and me and i could be part of your world sebastian and flounder have washed up and are watching scene. max and grimsby approach. ariel hurries away.


eric! oh, eric. you really delight in these sadistic strains on my blood pressure, don't you?


a girl rescued me. . . . she was singing . . . she had the most beautiful voice.


ah, eric, i think you've swallowed a bit too much seawater. off we go. come on, max.


we just gotta forget this whole thing ever happened. the sea king will never know. you won't tell him, i won't tell him. i will stay in one piece.


i don't know when i don't know how but i know something's starting right now watch and you'll see some day i'll be part of your world


oh, no, no, no, no, no, no. i can't stand it it's too easy. the child is in love with a human. and not just any human a prince! her daddy'll love that. king triton's headstrong, lovesick girl would make a charming addition to my little garden.


ariel, dear, time to come out. you've been in there all morning.


what is with her lately?


morning, daddy.


oh, she's got it bad.


what? what has she got?


isn't it obvious, daddy? ariel's in love.


ariel? in love?

In [346]:
#quick edit to 136
l_m.Text.iloc[136] = "what would i give to live where you are? what would i pay to stay here beside you? what would i do to see you smiling at me? where would we walk? where would we run? if we could stay all day in the sun? just you and me and i could be part of your world."

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [347]:
l_m_songs.extend([136, 141])

In [349]:
#Under the Sea
#157
for line in l_m.Text.iloc[155:160]:
    print(line)
    print('\n')

i'll swim up to his castle. then flounder will splash around to get his attention, and then with


down here is your home! ariel listen to me. the human world it's a mess. life under the sea is better than anything they got up there.


the seaweed is always greener in somebody else's lake you dream about going up there but that is a big mistake just look at the world around you right here on the ocean floor such wonderful things surround you what more is you lookin' for? under the sea under the sea darling it's better down where it's wetter take it from me up on the shore they work all day out in the sun they slave away while we devotin' full time to floatin' under the sea down here all the fish is happy as off through the waves they roll the fish on the land ain't happy they sad 'cause they in their bowl but fish in the bowl is lucky they in for a worser fate one day when the boss get hungry guess who's gon' be on the plate under the sea under the sea nobody beat us fry us and eat us in fricassee we what the land folks loves to cook under the sea we off the hook we got no troubles life is the bubbles under the sea under the sea since life is sweet here we got the beat here naturally even the sturgeon an' the ray they get the urge 'n' start to play we got the spirit you got to hear it under the sea the newt play the flute the carp play the harp the plaice play the bass and they soundin' sharp the bass play the brass the chub play the tub the fluke is the duke of soul yeah the ray he can play the lings on the strings the trout rockin' out the blackfish she sings the smelt and the sprat they know where it's at an' oh that blowfish blow under the sea under the sea when the sardine begin the beguine it's music to me what do they got? a lot of sand we got a hot crustacean band each little clam here know how to jam here under the sea each little slug here cuttin' a rug here under the sea each little snail here know how to wail here that's why it's hotter under the water ya we in luck here down in the muck here under the sea


ariel? ariel? oh . . . somebody's got to nail that girl's fins to the floor.


sebastian! sebastian, i've been looking all over for you. i've got an urgent message from the sea king.

In [350]:
l_m_songs.append(157)

In [353]:
#Poor Unfortunate Souls
#230, 231, 242, 243
for line in l_m.Text.iloc[228:246]:
    print(line)
    print('\n')

can you do that?


my dear, sweet child. that's what i do it's what i live for. to help unfortunate merfolk like yourself. poor souls with no one else to turn to.


i admit that in the past i've been a nasty they weren't kidding when they called me, well, a witch but you'll find that nowadays i've mended all my ways repented, seen the light and made a switch true? yes and i fortunately know a little magic it's a talent that i always have possessed and here lately, please don't laugh i use it on behalf of the miserable, lonely and depressed


poor unfortunate souls in pain in need this one longing to be thinner that one wants to get the girl and do i help them? yes, indeed those poor unfortunate souls so sad so true they come flocking to my cauldron crying, "spells, ursula please!" and i help them? yes, i do now it's happened once or twice someone couldn't pay the price and i'm afraid i had to rake 'em 'cross the coals yes, i've had the odd complaint but on the whole i've been a saint to those poor unfortunate souls now, here's the deal. i will make you a potion that will turn you into a human for three days. got that? three days. now listen, this is important. before the sun sets on the third day, you've got to get dear ol' princey to fall in love with you. that is, he's got to kiss you. not just any kiss the kiss of true love. if he does kiss you before the sun sets on the third day, you'll remain human, permanently, but if he doesn't, you turn back into a mermaid, and you belong to me.


no ariel!


have we got a deal?


if i become human, i'll never be with my father or sisters again.


that's right. . . . but you'll have your man. life's full of tough choices, innit? oh and there is one more thing. we haven't discussed the subject of payment. you can't get something for nothing, you know.


but i don't have any


i'm not asking much. just a token, really, a trifle. you'll never even miss it. what i want from you is . . . your voice.


my voice?


you've got it, sweetcakes. no more talking, singing, zip.


but without my voice, how can i


you'll have your looks! your pretty face! and don't underestimate the importance of body language! ha!


the men up there don't like a lot of blabber they think a girl who gossips is a bore yes, on land it's much preferred for ladies not to say a word and after all, dear, what is idle prattle for? come on, they're not all that impressed with conversation true gentlemen avoid it when they can but they dote and swoon and fawn on a lady who's withdrawn it's she who holds her tongue who gets her man come on, you poor unfortunate soul go ahead! make your choice! i'm a very busy woman and i haven't got all day it won't cost much just your voice! you poor unfortunate soul it's sad but true if you want to cross a bridge, my sweet you've got to pay the toll take a gulp and take a breath and go ahead and sign the scroll! flotsam, jetsam, now i've got her, boys the boss is on a roll this poor unfortunate soul.


paluga, sarruga, come winds of the caspian sea. now rings us glossitis and max laryngitis, la voce to me! now . . . sing!


keep singing!


fade to beach. eric and max are walking near castle.

In [355]:
l_m_songs.extend([230, 231, 242, 243])

In [358]:
#Les Poissons
#278
for line in l_m.Text.iloc[277:283]:
    print(line)
    print('\n')

oooh, you're gonna love it. chef's been fixing his specialty, stuffed crab.


les poissons les poissons how i love les poissons love to chop and to serve little fish first i cut off their heads then i pull out the bones ah mais oui ca c'est toujours delish les poissons les poissons hee hee hee hah hah hah with the cleaver i hack them in two i pull out what's inside and i serve it up fried god, i love little fishes don't you? here's something for tempting the palate prepared in the classic technique first you pound the fish flat with a mallet then you slash through the skin give the belly a slice then you rub some salt in 'cause that makes it taste nice zut alors, i have missed one! sacre bleu what is this? how on earth could i miss such a sweet little succulent crab? quel dommage what a loss here we go in the sauce now some flour, i think just a dab now i stuff you with bread it don't hurt 'cause you're dead and you're certainly lucky you are 'cause it's gonna be hot in my big silver pot toodle loo mon poisson au revoir!


what is this?


cut to dining room. huge crash is heard.


i think i'd better go see what louis is up to. back to kitchen. louis is trashing the place.


come out you little pipsqueak and fight like a man!

In [360]:
l_m_songs.append(278)

In [365]:
l_m.Text.iloc[281] = "i think i'd better go see what louis is up to."

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [366]:
#Kiss the Girl
#310, 312, 316
for line in l_m.Text.iloc[309:318]:
    print(line)
    print('\n')

jeez, man, i'm surrounded by amateurs! you want something done, you've got to do it yourself. first, we got to create the mood. percussion. . . . strings. . . . winds. . . . words. . . .


there you see her sitting there across the way she don't got a lot to say but there's something about her and you don't know why but you're dying to try you wanna kiss the girl


did you hear something?


yes, you want her look at her, you know you do possible she wants you too there is one way to ask her it don't take a word not a single word go on and kiss the girl sha la la la la la my oh my look like the boy too shy ain't gonna kiss the girl sha la la la la la ain't that sad? ain't it a shame? too bad, he gonna miss the girl


you know, i feel really bad not knowing your name. heh maybe i could guess. is it, err, mildred? o.k., no. how 'bout diana? rachel?


ariel. her name is ariel.


ariel? ariel? well, that's kinda pretty. o.k. ariel. . .


now's your moment floating in a blue lagoon boy you better do it soon no time will be better she don't say a word and she won't say a word until you kiss the girl sha la la la la la don't be scared you got the mood prepared go on and kiss the girl sha la la la la la don't stop now don't try to hide it how you want to kiss the girl sha la la la la la float along and listen to the song the song say kiss the girl sha la la la la the music play do what the music say you got to kiss the girl you've got to kiss the girl you wanna kiss the girl you've gotta kiss the girl go on and kiss the girl the boat tips over.


whoa, hang on i've gotcha.

In [367]:
l_m_songs.extend([310, 312, 316])

In [369]:
l_m.Text.iloc[316] = "now's your moment floating in a blue lagoon boy you better do it soon no time will be better she don't say a word and she won't say a word until you kiss the girl sha la la la la la don't be scared you got the mood prepared go on and kiss the girl sha la la la la la don't stop now don't try to hide it how you want to kiss the girl sha la la la la la float along and listen to the song the song say kiss the girl sha la la la la the music play do what the music say you got to kiss the girl you've got to kiss the girl you wanna kiss the girl you've gotta kiss the girl go on and kiss the girl."

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [370]:
# Final reprise: earlier, you can see it's sung by "all"
l_m[["Speaker", "Text"]][l_m.Speaker == 'all']

    Speaker                                               Text
396     all  now we can walk, now we can run, now we can st...

In [371]:
l_m.Text[396]

'now we can walk, now we can run, now we can stay all day in the sun. just you and me, and i can be, part of your world. '

In [372]:
l_m_songs.append(396)

In [374]:
%pprint

Pretty printing has been turned OFF

In [375]:
#labeling songs
l_m_songs

[0, 8, 16, 96, 97, 98, 136, 141, 157, 230, 231, 242, 243, 278, 310, 312, 316, 396]

In [376]:
song_func = partial(is_dialogue, song=l_m_songs)
l_m["Song"] = l_m.index.map(song_func)

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [377]:
l_m.info() #no null's in the categories we modified

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 11 columns):
Disney_Period       397 non-null object
Gender              397 non-null object
Movie               397 non-null object
Role                397 non-null object
Song                397 non-null object
Speaker             397 non-null object
Speaker_Status      397 non-null object
Start_Scene         0 non-null object
Text                397 non-null object
UTTERANCE_NUMBER    397 non-null int64
Year                397 non-null int64
dtypes: int64(2), object(9)
memory usage: 20.2+ KB

In [378]:
l_m.sample(5)

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
212,MID,m,The Little Mermaid,ANT,D,jetsam,NON-P,NaN,ursula has great powers,213,1989
194,MID,f,The Little Mermaid,PRO,D,ariel,PRINCESS,NaN,i don't care.,195,1989
219,MID,m,The Little Mermaid,HELPER,D,sebastian,NON-P,NaN,"i didn't mean to tell, it was an accident.",220,1989
30,MID,f,The Little Mermaid,PRO,D,ariel,PRINCESS,NaN,"flounder, don't be such a guppy.",31,1989
335,MID,m,The Little Mermaid,HELPER,D,sebastian,NON-P,NaN,"ariel, grab on to that. flounder, get her to t...",336,1989

In [379]:
#Some fake lines: 245, 280
l_m.Text.iloc[245]

'fade to beach. eric and max are walking near castle. '

In [380]:
def cut_line(dataframe, index_num):
    dataframe.drop(index = index_num, inplace = True)

In [382]:
cut_line(l_m, 245)

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [383]:
l_m[["Speaker", "Text"]].iloc[244:247]

     Speaker                                               Text
244   ursula                                     keep singing!
246     eric  that voice. i can't get it out of my head. i'v...
247  scuttle  well, look at what the catfish dragged in! loo...

In [384]:
cut_line(l_m, 280)

In [386]:
l_m[["Speaker", "Text"]].iloc[278:282]

      Speaker                                               Text
279     louis                                     what is this?
281  carlotta     i think i'd better go see what louis is up to.
282     louis  come out you little pipsqueak and fight like a...
283  carlotta                        louis! what are you doing?

In [387]:
l_m.reset_index(drop=True, inplace=True)

## Aladdin
### 1) Gender

In [388]:
al = disney[disney.Movie == 'Aladdin']
al.head()

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
2494,MID,NaN,Aladdin,NaN,NaN,peddler,NON-P,NaN,oh i come from a land from a faraway place whe...,1,1992
2495,MID,NaN,Aladdin,NaN,NaN,jafar,NON-P,NaN,you...are late.,2,1992
2496,MID,NaN,Aladdin,NaN,NaN,gazeem,NON-P,NaN,"a thousand apologies, o patient one.",3,1992
2497,MID,NaN,Aladdin,NaN,NaN,jafar,NON-P,NaN,"you have it, then?",4,1992
2498,MID,NaN,Aladdin,NaN,NaN,gazeem,NON-P,NaN,i had to slit a few throats to get it.,5,1992

In [389]:
al.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 2494 to 3335
Data columns (total 11 columns):
Disney_Period       842 non-null object
Gender              0 non-null object
Movie               842 non-null object
Role                0 non-null object
Song                0 non-null object
Speaker             842 non-null object
Speaker_Status      842 non-null object
Start_Scene         0 non-null object
Text                842 non-null object
UTTERANCE_NUMBER    842 non-null int64
Year                842 non-null int64
dtypes: int64(2), object(9)
memory usage: 49.3+ KB

In [391]:
al.Speaker.unique()

array(['peddler', 'jafar', 'gazeem', 'iago', 'cave', 'guard', 'aladdin',
       'guard 1', 'guard 2', 'woman 1', 'abu', 'guards', 'women', 'woman',
       'crowd', 'lady', 'bystander 1', 'bystander 2', 'prince', 'sultan',
       'jasmine', 'both', 'proprietor', 'shopkeeper 1', 'shopkeeper 2',
       'shopkeeper 3', 'shopkeeper 4', 'aladdin and jasmine', 'old man',
       'cave voice', 'genie', 'dup. genies', 'marchers', 'swordsmen',
       'major', 'chorus of men', 'harry', 'chorus of women', 'june',
       '    girls', 'chorus', 'bee', 'flamingo', "men's chorus"],
      dtype=object)

In [394]:
al.Speaker = al.Speaker.map(lambda x: x.strip())

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [395]:
print(len(al.Speaker.unique()))
al.Speaker.unique()

44

array(['peddler', 'jafar', 'gazeem', 'iago', 'cave', 'guard', 'aladdin',
       'guard 1', 'guard 2', 'woman 1', 'abu', 'guards', 'women', 'woman',
       'crowd', 'lady', 'bystander 1', 'bystander 2', 'prince', 'sultan',
       'jasmine', 'both', 'proprietor', 'shopkeeper 1', 'shopkeeper 2',
       'shopkeeper 3', 'shopkeeper 4', 'aladdin and jasmine', 'old man',
       'cave voice', 'genie', 'dup. genies', 'marchers', 'swordsmen',
       'major', 'chorus of men', 'harry', 'chorus of women', 'june',
       'girls', 'chorus', 'bee', 'flamingo', "men's chorus"], dtype=object)

In [409]:
al_female = ['woman 1', 'women', 'woman', 'lady', 'jasmine', 'chorus of women', 'girls', 'june']
al_male = ['peddler', 'jafar', 'gazeem', 'iago', 'guard', 'cave', 'aladdin', 'guard 1', 'guard 2', 'abu', 'guards',
          'prince', 'sultan', 'bystander 1', 'bystander 2', 'proprietor', 'shopkeeper 1', 'shopkeeper 2', 'shopkeeper 3',
           'shopkeeper 4', 'old man', 'cave voice', 'genie', 'dup. genie', 'swordsmen', 'major',
           'chorus of men', 'harry', 'bee', "men's chorus", 'marchers']
#neutral: crowd, both, aladdin and jasmine, chorus, flamingo
print(len(al_female)+len(al_male))

39

In [410]:
gender_func = partial(whichgen, female = al_female, male=al_male)
al["Gender"] = al.Speaker.map(gender_func)

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [412]:
al.tail()

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
3331,MID,m,Aladdin,NaN,NaN,aladdin,PRINCE,NaN,a whole new world,838,1992
3332,MID,f,Aladdin,NaN,NaN,jasmine,PRINCESS,NaN,a whole new life,839,1992
3333,MID,n,Aladdin,NaN,NaN,both,NON-P,NaN,for you and me!,840,1992
3334,MID,m,Aladdin,NaN,NaN,men's chorus,NON-P,NaN,a whole new world!,841,1992
3335,MID,m,Aladdin,NaN,NaN,genie,NON-P,NaN,made ya look!,842,1992

In [415]:
al.Text[al.Speaker == 'harry']

2952    don't they look lovely, june?
Name: Text, dtype: object

### 2) Role
Some of these speakers, like bee and old man, are other names from pre-established characters, and will be included in their relevent list

In [414]:
al.Speaker.unique()

array(['peddler', 'jafar', 'gazeem', 'iago', 'cave', 'guard', 'aladdin',
       'guard 1', 'guard 2', 'woman 1', 'abu', 'guards', 'women', 'woman',
       'crowd', 'lady', 'bystander 1', 'bystander 2', 'prince', 'sultan',
       'jasmine', 'both', 'proprietor', 'shopkeeper 1', 'shopkeeper 2',
       'shopkeeper 3', 'shopkeeper 4', 'aladdin and jasmine', 'old man',
       'cave voice', 'genie', 'dup. genies', 'marchers', 'swordsmen',
       'major', 'chorus of men', 'harry', 'chorus of women', 'june',
       'girls', 'chorus', 'bee', 'flamingo', "men's chorus"], dtype=object)

In [418]:
al_pro = ['aladdin', 'jasmine']
al_ant = ['jafar', 'iago', 'old man', 'guard', 'guard 1', 'guard 2', 'guards', 'proprietor']
al_helper = ['abu','genie', 'dup. genies', 'bee', 'june', 'major', 'harry']

In [419]:
role_func = partial(whichrole, pro = al_pro, ant = al_ant, helper = al_helper)
al["Role"] = al.Speaker.map(role_func)

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [420]:
al.sample(5)

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
2973,MID,m,Aladdin,N,NaN,sultan,NON-P,NaN,"oh, button up, jafar. learn to have a little f...",480,1992
2536,MID,m,Aladdin,ANT,NaN,guards,NON-P,NaN,"rip him open, take it back guys!",43,1992
2623,MID,m,Aladdin,ANT,NaN,proprietor,NON-P,NaN,"try this, your taste buds will dance and sing.",130,1992
3122,MID,m,Aladdin,N,NaN,sultan,NON-P,NaN,you will wed jafar.,629,1992
3186,MID,m,Aladdin,ANT,NaN,iago,NON-P,NaN,"ah, jafaryou're too kind. i'm embarrassed, i'm...",693,1992

### 3) Songs
Songs in this movie include: Arabian Nights, One Jump Ahead (+reprise), Friend Like Me, Prince Ali (+Reprise), A Whole New World

In [423]:
al.reset_index(drop=True, inplace=True)

In [425]:
al_song_words = ['arabian', 'one jump', 'riff', 'friend like', 'make way', 'whole new world', 'precious']
for line in al_song_words:
    print(line)
    print(al[["Speaker", "Text"]][al.Text.str.contains(line, regex = False)])
    print('\n')

arabian
   Speaker                                               Text
0  peddler  oh i come from a land from a faraway place whe...


one jump
    Speaker                                               Text
38  aladdin  come on, let's get outta here! gotta keep...on...
39  aladdin  one jump ahead of the lawmen that's all, and t...
48  aladdin  one jump ahead of the slowpokes one skip ahead...
56  aladdin                  one jump ahead of the hoofbeats!


riff
    Speaker                                               Text
40   guards       riffraff! street rat! scoundrel! take that!
77  aladdin  riffraff, street rat. i don't buy that. if onl...


friend like
    Speaker                                               Text
348   genie  mister aladdin sir what will your pleasure be?...
349   genie  life is your restaurant and i'm your maitre' d...


make way
      Speaker                                               Text
450  marchers                          make way for prince ali!
452     major  hey, clear the way in the old bazaar, hey you,...
467     genie  prince ali! amorous he! ali ababwa heard your ...


whole new world
          Speaker                                               Text
571       aladdin  a whole new world! a new fantastic point of vi...
572       jasmine  a whole new world a dazzling place i never kne...
573       aladdin            now i'm in a whole new world with you!
575       jasmine                                a whole new world!
580       aladdin                                a whole new world!
584          both  i'll chase them anywhere there's time to spare...
837       aladdin                                 a whole new world
840  men's chorus                                a whole new world!


precious
    Speaker                                               Text
730   jafar  yes, meet a blast from your past whose lies we...

In [426]:
#Arabian Nights
for line in al.Text.iloc[:5]:
    print(line)
    print('\n')

oh i come from a land from a faraway place where the caravan camels roam where they cut off your ear /where it's flat and immense if they don't like your face /and the heat is intense it's barbaric, but heyit's home! when the wind's at your back and the sun's from the west and the sand in the glass is right come on down, stop on by hop a carpet and fly to another arabian night! arabian nights like arabian days more often than not are hotter than hot in a lot of good ways arabian nights 'neath arabian moons a fool off his guard could fall and fall hard out there on the dunes. ah, salaam and good evening to you worthy friend. please, please, come closer


you...are late.


a thousand apologies, o patient one.


you have it, then?


i had to slit a few throats to get it.

In [427]:
al_songs = [0]

In [428]:
#One Jump Ahead
#37 - 54
for line in al.Text.iloc[37:55]:
    print(line)
    print('\n')

hello!


come on, let's get outta here! gotta keep...one jump ahead of the breadline one swing ahead of the sword i steal only what i can't afford that's everything!


one jump ahead of the lawmen that's all, and that's no joke these guys don't appreciate i'm broke!


riffraff! street rat! scoundrel! take that!


just a little snack, guys!


rip him open, take it back guys!


i can take a hint, gotta face the facts you're my only friend, abu!


who?!?


oh, it's sad aladdin's hit the bottom he's become a oneman rise in crime


i'd blame parents, except he hasn't got 'em!


gotta eat to live, gotta steal to eat tell you all about it when i got the time!


one jump ahead of the slowpokes one skip ahead of my doom next time gonna use a nom de plume. one jump ahead of the hitmen one hit ahead of the flock i think i'll take a stroll around the block.


stop, thief! vandal! outrage! scandal!


let's not be too hasty


still i think he's rather tasty


gotta eat to live, gotta steal to eat otherwise we'd get along!


wrong!


he's got a sword!

In [433]:
al_songs.extend(list(range(37,55)))

In [436]:
#56-64
for line in al.Text.iloc[54:66]:
    print(line)
    print('\n')

he's got a sword!


you idiotwe've all got swords!!


one jump ahead of the hoofbeats!


vandal!


one hop ahead of the hump!


street rat!


one trick ahead of disaster


scoundrel!


they're quickbut i'm much faster


take that!


here goes, better throw my hand in wish me happy landin' all i gotta do is jump!


and now, esteemed effendi, we feast! all right!

In [439]:
al_songs.extend(list(range(56,65)))

In [441]:
#One Jump Ahead Reprise
#77
for line in al.Text.iloc[76:80]:
    print(line)
    print('\n')

i'm not worthless. and i don't have fleas. come on, abu. let's go home.


riffraff, street rat. i don't buy that. if only they'd look closer would they see a poor boy? no siree. they'd find out, there's so much more to me.


someday, abu, things are gonna change. we'll be rich, live in a palace, and never have any problems at all.


i've never been so insulted!

In [442]:
al_songs.append(77)

In [443]:
#Friend Like Me
#346-349
for line in al.Text.iloc[345:360]:
    print(line)
    print('\n')

master, i don't think you quite realize what you've got here! so why don't you just ruminate, whilst i illuminate the possibilities.


well ali baba had them forty thieves scheherazadie had a thousand tales but master you in luck 'cause up your sleeve you got a brand of magic never fails!


you got some power in your corner now some heavy ammunition in your camp you got some punch, pizzazz, yahoo and how see all you gotta do is rub that lamp and i'll say


mister aladdin sir what will your pleasure be? let me take your order, jot it down you ain't never had a friend like me no no no!


life is your restaurant and i'm your maitre' d! c'mon whisper what it is you want you ain't never had a friend like me.


yes sir, we pride ourselves on service you're the boss, the king, the shah! say what you wish, it's yours! true dish how about a little more baklava?


so what'll it be, master?


you're gonna grant me any three wishes i want?


ah, almost. there are a few provisos, a couple of quid pro quos


like?


ah, rule number one i can't kill anybody.


so don't ask. rule two, i can't make anyone fall in love with anyone else.


you little punim, there.


rule three, i can't bring people back from the dead. it's not a pretty picture,


ah, provisos? you mean limitations? on wishes?

In [444]:
al_songs.extend([346, 347, 348, 349])

In [445]:
#Prince Ali
#450-467
for line in al.Text.iloc[449:470]:
    print(line)
    print('\n')

what? what is that? that music! ha ha ha. jafar., you must come and see this!


make way for prince ali!


say hey! it's prince ali!


hey, clear the way in the old bazaar, hey you, let us through, it's a bright new star, now come, be the first on your block to meet his eye! make way, here he comes, ring bells, bang the drums. you're gonna love this guy


prince ali, fabulous he, ali ababwa! genuflect, show some respect down on one knee


on his back. now try your best to stay calm brush up your sunday salaam and come and meet his spectacular coterie.


prince ali, mighty is he, ali ababwa! strong as ten regular men, definitely he faced the galloping hordes a hundred bad guys with swords who sent those goons to their lords, why prince ali!


brand lightning bolt zaps the pile and he ends up holding them all up in an acrobatic wheel formation. the genie turns into an old man, then a child and speaks the last two lines to the crowd.


he's got seventyfive golden camels!


don't they look lovely, june?


purple peacocks, he's got fiftythree!


fabulous, harry, i love the feathers!


when it comes to exotic type mammals has he got a zoo, i'm telling you it's a world class menagerie!


prince ali, handsome is he, ali ababwa there's no question this ali's alluring that physique, how can i speak never ordinary, never boring weak at the knee everything about the man just plain impresses well, get on out in that square he's a wonder, he's a whiz, a wonder adjust your veil and prepare he's about to pull my heart asunder to gawk and grovel and stare at prince ali! and i absolutely love the way he dresses!


he's got ninetyfive white persian monkeys!


and to view them, he charges no fee!


he's got slaves, he's got servants and flunkies!


they bow to his whim, love serving him they're just lousy with loyalty to ali! prince ali!


prince ali! amorous he! ali ababwa heard your princess was a sight lovely to see! and that,good people, is why he got dolled up and dropped by with sixty elephants, llamas galore with his bears and lions a brass band and more with his forty fakirs, his cooks, his bakers his birds that warble on key make way for prince ali!


splendid, absolutely marvelous.


ahem. your majesty, i have journeyed from afar to seek your daughter's hand.

In [447]:
al_songs.extend(list(range(450,468)))

In [448]:
al_songs

[0, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 77, 346, 347, 348, 349, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467]

In [453]:
#A Whole New World
#569-587
for line in al.Text.iloc[568:589]:
    print(line)
    print('\n')

yes.


i can show you the world shining, shimmering, splendid. tell me princess, now when did you last let your heart decide?


i can open your eyes take you wonder by wonder over, sideways, and under on a magic carpet ride


a whole new world! a new fantastic point of view no one to tell us no or where to go or say we're only dreaming


a whole new world a dazzling place i never knew but when i'm way up here it's crystal clear that now i'm in a whole new world with you!


now i'm in a whole new world with you!


unbelievable sights indescribable feeling soaring, tumbling, freewheeling through an endless diamond sky


a whole new world!


don't you dare close your eyes


an hundred thousand things to see


hold your breathit gets better!


i'm like a shooting star, i've come so far i can't go back to where i used to be!


a whole new world!


every turn a surprise


with new horizons to pursue


every moment, redletter


i'll chase them anywhere there's time to spare let me share this whole new world with you a whole new world that's where we'll be


a thrilling chase


a wondrous place


for you and me!


it's all so magical.

In [454]:
al_songs.extend(list(range(569-588)))

In [456]:
#Prince Ali reprise
#729, 730, 733, 735
for line in al.Text.iloc[725:738]:
    print(line)
    print('\n')

genie, my second wishi wish to be the most powerful sorcerer in the world!


ladies and gentlemen, a warm agrabah welcome for sorcerer jafar!


now where were we? ah, yesabject humiliation!


jafar! get your hands off her!


prince ali yes, it is he, but not as you know him. read my lips and come to grips with reality


yes, meet a blast from your past whose lies were too good to last say hello to your precious prince ali!


or should we say aladdin?


jasmine, i tried to tell you.


so ali turns out to be merely aladdin just a con, need i go on? take it from me his personality flaws give me adequate cause to send him packing on a oneway trip so his prospects take a terminal dip his assets frozen, the venue chosen is the ends of the earth, whoopee! so long,


good bye, see ya!


exprince ali!


abu? abu!


oh, this is all my faulti should have freed the genie when i had the chance.

In [457]:
al_songs.extend([729, 730, 733, 735])

In [458]:
#Finally, looking at chorus stuff
al[["Speaker", "Text"]][al.Speaker == 'chorus of men'] #in list already

           Speaker                                  Text
457  chorus of men  he's got seventyfive golden camels!

In [459]:
al[["Speaker", "Text"]][al.Speaker == 'chorus of women'] #in list already

             Speaker                                    Text
459  chorus of women  purple peacocks, he's got fiftythree!

In [460]:
al[["Speaker", "Text"]][al.Speaker == 'chorus'] #in list already

    Speaker                                               Text
463  chorus        he's got ninetyfive white persian monkeys!
464  chorus              and to view them, he charges no fee!
465  chorus  he's got slaves, he's got servants and flunkies!
466  chorus  they bow to his whim, love serving him they're...

In [461]:
al[["Speaker", "Text"]][al.Speaker == "men's chorus"]

          Speaker                 Text
840  men's chorus  a whole new world!

In [463]:
al_songs.append(840)

In [464]:
song_func = partial(is_dialogue, song=al_songs)
al["Song"] = al.index.map(song_func)

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [465]:
al.head()

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
0,MID,m,Aladdin,N,S,peddler,NON-P,NaN,oh i come from a land from a faraway place whe...,1,1992
1,MID,m,Aladdin,ANT,D,jafar,NON-P,NaN,you...are late.,2,1992
2,MID,m,Aladdin,N,D,gazeem,NON-P,NaN,"a thousand apologies, o patient one.",3,1992
3,MID,m,Aladdin,ANT,D,jafar,NON-P,NaN,"you have it, then?",4,1992
4,MID,m,Aladdin,N,D,gazeem,NON-P,NaN,i had to slit a few throats to get it.,5,1992

In [467]:
al.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842 entries, 0 to 841
Data columns (total 11 columns):
Disney_Period       842 non-null object
Gender              842 non-null object
Movie               842 non-null object
Role                842 non-null object
Song                842 non-null object
Speaker             842 non-null object
Speaker_Status      842 non-null object
Start_Scene         0 non-null object
Text                842 non-null object
UTTERANCE_NUMBER    842 non-null int64
Year                842 non-null int64
dtypes: int64(2), object(9)
memory usage: 42.8+ KB

## Beauty and the Beast

In [466]:
b_b = disney[disney.Movie == "Beauty and the Beast"]

In [468]:
b_b.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 772 entries, 1722 to 2493
Data columns (total 11 columns):
Disney_Period       772 non-null object
Gender              0 non-null object
Movie               772 non-null object
Role                0 non-null object
Song                0 non-null object
Speaker             772 non-null object
Speaker_Status      772 non-null object
Start_Scene         0 non-null object
Text                772 non-null object
UTTERANCE_NUMBER    772 non-null int64
Year                772 non-null int64
dtypes: int64(2), object(9)
memory usage: 45.2+ KB

In [469]:
b_b.head()

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
1722,MID,NaN,Beauty and the Beast,NaN,NaN,narrator,NON-P,NaN,"once upon a time, in a faraway land, a prince ...",1,1991
1723,MID,NaN,Beauty and the Beast,NaN,NaN,belle,PRINCESS,NaN,"little town, it's a quiet village every day, l...",2,1991
1724,MID,NaN,Beauty and the Beast,NaN,NaN,townsfolk 1,NON-P,NaN,bonjour!,3,1991
1725,MID,NaN,Beauty and the Beast,NaN,NaN,townsfolk 2,NON-P,NaN,bonjour!,4,1991
1726,MID,NaN,Beauty and the Beast,NaN,NaN,townsfolk 3,NON-P,NaN,bonjour!,5,1991

### 1) Gender

In [475]:
b_b.reset_index(drop=True, inplace = True)

In [476]:
b_b.Speaker.unique()

array(['narrator', 'belle', 'townsfolk 1', 'townsfolk 2', 'townsfolk 3',
       'townsfolk 4', 'townsfolk 5', 'baker', 'townsfolk', 'woman 1',
       'barber', 'driver', 'woman 2', 'woman 3', 'merchant', 'woman 4',
       'man 1', 'bookseller', 'men', 'women', 'woman 5', 'all', 'lefou',
       'gaston', 'bimbettes', 'man 2', 'man 3', 'man 4', 'man 5', 'man 6',
       'group 1', 'group 2', 'bimbette 1', 'bimbette 2', 'bimbette 3',
       'maurice', 'lumiere', 'cogsworth', 'mrs. potts', 'chip', 'beast',
       'lefou, ', 'pierre', 'featherduster', 'old cronies', 'wrestler',
       'old man', 'crony 1', 'crony 2', 'crony 3', 'both', 'wardrobe',
       'stove', 'mugs', 'lumiere ', "d'arque", 'bystanders', 'mob',
       'objects', 'prince', 'chorus'], dtype=object)

In [477]:
len(b_b.Speaker.unique())

61

In [478]:
for speaker in b_b["Speaker"]:
    if speaker == 'lefou, ':
        print(b_b["Speaker"][b_b.Speaker == "lefou, "])

207    lefou,
Name: Speaker, dtype: object

In [480]:
b_b.Speaker.iloc[207] = 'lefou'

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [481]:
b_b.Speaker.iloc[207]

'lefou'

In [482]:
b_b.Speaker = b_b.Speaker.map(lambda x: x.strip())

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [483]:
print(len(b_b.Speaker.unique()))
b_b.Speaker.unique()

59

array(['narrator', 'belle', 'townsfolk 1', 'townsfolk 2', 'townsfolk 3',
       'townsfolk 4', 'townsfolk 5', 'baker', 'townsfolk', 'woman 1',
       'barber', 'driver', 'woman 2', 'woman 3', 'merchant', 'woman 4',
       'man 1', 'bookseller', 'men', 'women', 'woman 5', 'all', 'lefou',
       'gaston', 'bimbettes', 'man 2', 'man 3', 'man 4', 'man 5', 'man 6',
       'group 1', 'group 2', 'bimbette 1', 'bimbette 2', 'bimbette 3',
       'maurice', 'lumiere', 'cogsworth', 'mrs. potts', 'chip', 'beast',
       'pierre', 'featherduster', 'old cronies', 'wrestler', 'old man',
       'crony 1', 'crony 2', 'crony 3', 'both', 'wardrobe', 'stove',
       'mugs', "d'arque", 'bystanders', 'mob', 'objects', 'prince',
       'chorus'], dtype=object)

In [484]:
b_b_female = ['belle', 'woman 1', 'woman 2', 'woman 3', 'woman 4', 'women', 'woman 5', 'bimbettes', 'bimbette 1',
             'bimbette 2', 'bimbette 3', 'mrs. potts', 'featherduster', 'wardrobe']
b_b_male = ['narrator', 'baker', 'barber', 'driver', 'merchant', 'man 1', 'bookseller', 'men', 'lefou', 'gaston',
           'man 2', 'man 3', 'man 4', 'man 5', 'man 6', 'maurice', 'lumiere', 'cogsworth', 'chip', 'beast', 'pierre',
           'old cronies', 'wrestler', 'old man', 'crony 1', 'crony 2', 'crony 3', 'stove', "d'arque", 'prince']
# neutral: townsfolk 1-5, townsfolk, all, group 1, group 2, both, mugs, bystanders, mob, objects, chorus
print(len(b_b_female)+len(b_b_male))

44

In [485]:
gender_func = partial(whichgen, female = b_b_female, male=b_b_male)
b_b["Gender"] = b_b.Speaker.map(gender_func)

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [486]:
b_b.head()

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
0,MID,m,Beauty and the Beast,NaN,NaN,narrator,NON-P,NaN,"once upon a time, in a faraway land, a prince ...",1,1991
1,MID,f,Beauty and the Beast,NaN,NaN,belle,PRINCESS,NaN,"little town, it's a quiet village every day, l...",2,1991
2,MID,n,Beauty and the Beast,NaN,NaN,townsfolk 1,NON-P,NaN,bonjour!,3,1991
3,MID,n,Beauty and the Beast,NaN,NaN,townsfolk 2,NON-P,NaN,bonjour!,4,1991
4,MID,n,Beauty and the Beast,NaN,NaN,townsfolk 3,NON-P,NaN,bonjour!,5,1991

### 2) Roles

In [487]:
b_b.Speaker.unique()

array(['narrator', 'belle', 'townsfolk 1', 'townsfolk 2', 'townsfolk 3',
       'townsfolk 4', 'townsfolk 5', 'baker', 'townsfolk', 'woman 1',
       'barber', 'driver', 'woman 2', 'woman 3', 'merchant', 'woman 4',
       'man 1', 'bookseller', 'men', 'women', 'woman 5', 'all', 'lefou',
       'gaston', 'bimbettes', 'man 2', 'man 3', 'man 4', 'man 5', 'man 6',
       'group 1', 'group 2', 'bimbette 1', 'bimbette 2', 'bimbette 3',
       'maurice', 'lumiere', 'cogsworth', 'mrs. potts', 'chip', 'beast',
       'pierre', 'featherduster', 'old cronies', 'wrestler', 'old man',
       'crony 1', 'crony 2', 'crony 3', 'both', 'wardrobe', 'stove',
       'mugs', "d'arque", 'bystanders', 'mob', 'objects', 'prince',
       'chorus'], dtype=object)

I'm conflicted about how to label the Beast. At the beginning of the story, he's most definitely antagonist. But the story is about him changing? I have him as a protagonist for now.

In [492]:
b_b_pro= ['belle', 'prince', 'beast', 'maurice']
b_b_ant = ['lefou', 'gaston', "d'arque", 'mob', 'old cronies', 'crony 1', 'crony 2', 'crony 3']
b_b_helper = ['lumiere', 'cogsworth', 'mrs. potts', 'chip', 'wardrobe']

In [493]:
role_func = partial(whichrole, pro = b_b_pro, ant = b_b_ant, helper = b_b_helper)
b_b["Role"] = b_b.Speaker.map(role_func)

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [494]:
b_b.head()

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
0,MID,m,Beauty and the Beast,N,NaN,narrator,NON-P,NaN,"once upon a time, in a faraway land, a prince ...",1,1991
1,MID,f,Beauty and the Beast,PRO,NaN,belle,PRINCESS,NaN,"little town, it's a quiet village every day, l...",2,1991
2,MID,n,Beauty and the Beast,N,NaN,townsfolk 1,NON-P,NaN,bonjour!,3,1991
3,MID,n,Beauty and the Beast,N,NaN,townsfolk 2,NON-P,NaN,bonjour!,4,1991
4,MID,n,Beauty and the Beast,N,NaN,townsfolk 3,NON-P,NaN,bonjour!,5,1991

### 3) Songs
The songs included in this movie are: Belle (+reprise), Gaston (+reprise), Be Our Guest, Something There, Beauty and the Beast (+reprise), and Mob Song

In [540]:
bb_song_words = ['bonjour', 'adventure', 'no one.*like', ' be our guest', 'something there', 'tale as old as time', 'kill the beast']
for line in bb_song_words:
    print(line)
    print(b_b[["Speaker", "Text"]][b_b.Text.str.contains(line, regex = True)])
    print('\n')

bonjour
        Speaker              Text
2   townsfolk 1         bonjour!
3   townsfolk 2         bonjour!
4   townsfolk 3         bonjour!
5   townsfolk 4         bonjour!
6   townsfolk 5         bonjour!
17       driver         bonjour!
20      woman 3         bonjour!
60        man 1         bonjour!
85        belle  bonjour gaston.


adventure
    Speaker                                               Text
213   belle  i want adventure in the great wide somewhere i...


no one.*like
         Speaker                                               Text
297  old cronies  no one's been like gaston, a kingpin like gaston
298        lefou  no one's got a swell cleft in his chin like ga...
303          all  no one fights like gaston, no one bites like g...
309  old cronies  no one hits like gaston, matches wits like gas...
314          all  no one shoots like gaston, makes those beauts ...
344         both  no one plots like gaston, takes cheap shots li...


 be our guest
     Speaker                                               Text
458  lumiere  ma chere, mademoiselle. it is with deepest ple...
460      all  come on and lift your glass, you've won your o...
462      all         be our guest, be our guest, be our guest!
473      all  she's our guest! be our guest! be our guest! o...
474  lumiere  course, by course one by one 'til you shout "e...


something there
        Speaker                                               Text
580         all  we'll wait and see a few days more there may b...
581   cogsworth  yes, perhaps there's something there that wasn...
583  mrs. potts  there may be something there that wasn't there...


tale as old as time
        Speaker                                               Text
599  mrs. potts  tale as old as time true as it can be barely e...
600  mrs. potts  ever just the same ever a surprise ever as bef...
770      chorus  certain as the sun rising in the east tale as ...


kill the beast
    Speaker                                               Text
683  gaston  we're not safe 'til his head is mounted on my ...
691  gaston  hear him roar, see him foam, but we're not com...
705     mob  we don't like, what we don't understand, it fr...
717     mob  raise the flag, sing the song here we come, we...
721     mob                   kill the beast, kill the beast!
725     mob                   kill the beast, kill the beast!
728     mob  kill the beast, kill the beast, kill the beast!!

In [500]:
#Belle
#1-7, 13-25, 
for line in b_b.Text.iloc[1:30]:
    print(line)
    print('\n')

little town, it's a quiet village every day, like the one before little town, full of little people waking up to say...


bonjour!


bonjour!


bonjour!


bonjour!


bonjour!


there goes the baker with his tray like always the same old bread and rolls to sell ev'ry morning just the same since the morning that we came to this poor provincial town...


good morning, belle!


morning monsieur!


where are you off to?


the bookshop! i just finished the most wonderful story, about a beanstalk and an ogre and...


that's nice...marie, the baguettes! hurry up!!


look there she goes, that girl is strange no question dazed and distracted, can't you tell?


never part of any crowd


cause her head's up on some cloud


no denying she's a funny girl, that belle!


bonjour!


good day!


how is your family?


bonjour!


good day!


how is your wife?


i need six eggs!


that's too expensive!


there must be more than this provincial life!


ah, belle!


good morning. i've come to return the book i borrowed.


finished already?


oh, i couldn't put it down! have you got anything new?

In [517]:
bb_songs = list(range(1,8))

In [518]:
bb_songs.extend(list(range(13,26)))

In [519]:
bb_songs

[1, 2, 3, 4, 5, 6, 7, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [510]:
#39-45
for line in b_b.Text.iloc[38:47]:
    print(line)
    print('\n')

well thank you. thank you very much!


look there she goes that girl is so peculiar! i wonder if she's feeling well!


with a dreamy faroff look!


and her nose stuck in a book! all what a puzzle to the rest of us is belle!


oh! isn't this amazing! it's my favorite part because, you'll see! here's where she meets prince charming but she won't discover that it's him 'til chapter three!


now it's no wonder that her name means 'beauty' her looks have got no parallel!


but behind that fair facade i'm afraid she's rather odd very different from the rest of us...


she's nothing like the rest of us yes different from the rest of us is belle


wow! you didn't miss a shot, gaston! you're the greatest hunter in the whole world!

In [520]:
bb_songs.extend(list(range(39, 46)))

In [516]:
#57-83
for line in b_b.Text.iloc[55:86]:
    print(line)
    print('\n')

and that makes her the best. and don't i deserve the best?


well of course, i mean you do, but i mean...


right from the moment when i met her, saw her i said she's gorgeous and i fell here in town there's only she


who is beautiful as me so i'm making plans to woo and marry belle


look there he goes, isn't he dreamy monsieur gaston, oh he's so cute be still my heart, i'm hardly breathing he's such a tall, dark, strong and handsome brute


bonjour!


pardon!


good day!


mais oui!


you call this bacon?


what lovely grapes!


some cheese!


ten yards!


one pound


'xcuse me!


i'll get the knife!


please let me through!


this bread!


those fish!


it's stale!


they smell!


madame's mistaken!


there must be more than this provincial life!


well maybe so...


just watch i'm going to make belle my wife!


look there she goes a girl who's strange but special a most peculiar mademoiselle it's a pity and a sin she doesn't quite fit in!


but she really is a funny girl


a beauty but a funny girl


she really is a funny girl! that belle!


hello, belle.


bonjour gaston.

In [521]:
bb_songs.extend(list(range(57, 84)))

In [522]:
#Belle reprise
#second half of 212 is song
#213
for line in b_b.Text.iloc[210:216]:
    print(line)
    print('\n')

touchy!


grunt grunt.


is he gone? can you imagine, he asked me to marry him. me, the wife of that boorish, brainless... madame gaston, can't you just see it madame gaston, his little wife not me, no sir, i guarantee it i want much more than this provincial life...


i want adventure in the great wide somewhere i want it more than i can tell and for once it might be grand to have someone understand i want so much more than they've got planned


phillipe! what are you doing here? where's papa? where is he, phillipe? what happened? oh, we have to find him, you have to take me to him!


what is this place?

In [523]:
bb_songs.append(213)

In [529]:
#Gaston (+reprise)
#294-317
for line in b_b.Text.iloc[293:320]:
    print(line)
    print('\n')

what for? nothing helps. i'm disgraced.


who, you? never. gaston, you've got to pull yourself together. gosh it disturbs me to see you, gaston looking so down in the dumps every guy here'd love to be you, gaston


even when taking your lumps there's no man in town as admired as you you're everyone's favorite guy everyone's awed and inspired by you


and it's not very hard to see why! no one's slick as gaston, no one's quick as gaston no one's next as incredibly thick as gaston for there's no man in town half as manly perfect, a pure paragon! you can ask any tom, dick, or stanley and they'll tell you who's team they'd prefer to be on!


no one's been like gaston, a kingpin like gaston


no one's got a swell cleft in his chin like gaston


as a specimen, yes, i'm intimidating!


my, what a guy that gaston!


give five hurrahs, give twelve hiphips


gaston is the best and the rest is all drips!


no one fights like gaston, no one bites like gaston


in a wrestling match, nobody bites like gaston


for there's no one as burly and brawny


as you see i've got biceps to spare


not a bit of him scraggly or scrawny


that's right! and every last bit of me's covered with hair!


no one hits like gaston, matches wits like gaston


in a spitting match, nobody spits like gaston!


i'm especially good at expectorating! ptooey!


ten points for gaston!


when i was a lad i ate four dozen eggs every morning to help me get large! and now that i'm grown, i eat five dozen eggs so i'm roughly the size of a barge!


no one shoots like gaston, makes those beauts like gaston


then goes tromping around wearing boots like gaston


i use antlers in all of my decorating!


my what a guy! gaston!!!!!!!


help! someone help me!


maurice?

In [530]:
bb_songs.extend(list(range(294-318)))

In [546]:
#336, 344-346
for line in b_b.Text.iloc[334:350]:
    print(line)
    print('\n')

crazy old maurice, hmm? crazy old maurice. hmmm? lefou, i'm afraid i've been thinking.


a dangerous pastime


i know, but that wacky old coot is belle's father and his sanity's only soso now the wheels in my head have been turning since i looked at that loony old man see i promised myself i'd be married to belle, and right now i'm evolving a plan!


if i...


yes?


then i...


no, would she?


...guess!


now i get it!


let's go!


no one plots like gaston, takes cheap shots like gaston


plans to persecute harmless crackpots like gaston


so his marriage we soon'll be celebrating! my what a guy, gaston!!!


will no one help me?


who is it?


mrs. potts, dear.

In [548]:
bb_songs.extend([336, 344, 345, 346])

In [550]:
#Be Our Guest
#458 - 462, 464, 466-474
for line in b_b.Text.iloc[456:476]:
    print(line)
    print('\n')

of course, of course. but what is dinner without a little music?


music!?!


ma chere, mademoiselle. it is with deepest pleasure and greatest pride that i welcome you tonight. and now, we invite you to relax. let us pull up a chair as the dining room proudly presents...your dinner. be our guest, be our guest put our service to the test, tie your napkin 'round your neck, cherie and we provide the rest!


and it's all in perfect taste that you can bet!!!


come on and lift your glass, you've won your own free pass to be our guest, be our guest, be our guest!


if you're stressed, it's fine dining we suggest!


be our guest, be our guest, be our guest!


enters and holds him there.


life is so unnerving, for a servant who's not serving! he's not whole without a soul to wait upon


get off!


ah, those good old days when we were useful suddenly, those good old days are gone.


ten years we've been rusting needing so much more than dusting needing exercise, a chance to use our skills!


most days just lay around the castle, flabby fat and lazy you walked in, and oopsadaisie!


it's a guest, it's a guest! sakes alive, well i'll be blessed! wine's been poured and thank the lord i've had the napkins freshly pressed!


with dessert, she'll want tea, and my dear, that's fine with me! while the cups do their soft shoeing, i'll be bubbling, i'll be brewing! i'll get warm, piping hot heaven's sake, is that a spot? clean it up, we want the company impressed! we've got a lot to do is it one lump or two? for you our guest!


she's our guest!


she's our guest!


she's our guest! be our guest! be our guest! our command is your request! it's ten years since we had anybody here and we're obsessed! with your meal, with your ease, yes indeed, we aim to please while the candlelight's still glowing let us help you, we'll keep going


course, by course one by one 'til you shout "enough, i'm done!" then we'll sing you off to sleep as you digest tonight you'll prop your feet up, but for let's eat up be our guest! be our guest! be our guest! please be our guest!!


bravo! that was wonderful!

In [551]:
bb_songs.extend(list(range(458,463)))
bb_songs.append(464)
bb_songs.extend(list(range(466, 475)))

In [558]:
#Something There
#571-581 , 583
for line in b_b.Text.iloc[570:585]:
    print(line)
    print('\n')

but what are they talking about? what's going on?


there's something sweet and almost kind but he was mean and he was coarse and unrefined. but now he's dear and so unsure, i wonder why i didn't see it there before.


she glanced this way i thought i saw and when we touched she didn't shudder at my paw no it can't be i'll just ignore but then she's never looked at me that way before.


new, and a bit alarming who'd have ever thought that this could be? true, that he's no prince charming but there's something in him that i simply didn't see.


well who'd have thought?


well bless my soul.


and who'd have known?


well who indeed?


and who'd have guessed they'd come together on their own?


it's so peculiar


we'll wait and see a few days more there may be something there that wasn't there before


yes, perhaps there's something there that wasn't there before.


what?


there may be something there that wasn't there before.


what's there, mama?

In [559]:
bb_songs.extend(list(range(571, 582)))
bb_songs.append(583)

In [560]:
#Beauty and the Beast (+reprise)
#599, 600
for line in b_b.Text.iloc[598:602]:
    print(line)
    print('\n')

ahem ahem ahem. your lady awaits.


tale as old as time true as it can be barely even friends then somebody bends unexpectedly. just a little change small to say the least both a little scared neither one prepared, beauty and the beast.


ever just the same ever a surprise ever as before, ever just as sure as the sun will rise tale as old as time tune as old as song bittersweet and strange, finding you can change, learning you were wrong certain as the sun rising in the east tale as old as time, song as old as rhyme, beauty and the beast. tale as old as time, song as old as rhyme, beauty and the beast.


off to the cupboard with you now, chip. it's past your bedtime. good night, love.

In [561]:
bb_songs.extend([599, 600])

In [563]:
for line in b_b.Text.iloc[769:]:
    print(line)
    print('\n')

do i still have to sleep in the cupboard?


certain as the sun rising in the east tale as old as time, song as old as rhyme beauty and the beast! tale as old as time, song as old as rhyme beauty and the beast!


</pre>

In [565]:
#getting rid of blank last line
b_b.drop(index = 771, inplace = True)

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [566]:
bb_songs.append(770)

In [569]:
#Mob Song
#684-691
for line in b_b.Text.iloc[683:695]:
    print(line)
    print('\n')

we're not safe 'til his head is mounted on my wall! i say we kill the beast!


we're not safe until he's dead,


he'll come stalking us at night!


set to sacrifice our children to his monstrous appetite!


he'll wreak havoc on our village if we let him wander free


so it's time to take some action, boys it's time to follow me!


through the mist, through the woods through the darkness and the shadows it's a nightmare but it's one exciting ride. say a prayer, then we're there at the drawbridge of a castle, and there's something truly terrible inside.


it's a beast, he's got fangs, razor sharp ones massive paws, killer claws for the feast


hear him roar, see him foam, but we're not coming home, 'til he's dead, good and dead, kill the beast!


no, i won't let you do this.


if you're not with us, you're against us. bring the old man.


get your hands off me!

In [570]:
bb_songs.extend(list(range(684, 692)))

In [573]:
#698-701, 705
for line in b_b.Text.iloc[696:707]:
    print(line)
    print('\n')

let us out!


we'll rid the village of this beast. who's with me?


light your torch, mount your horse!


screw your courage to the sticking place


we're counting on gaston to lead the way! through a mist, to a wood, where within a haunted castle, something's lurking that you don't see every day!


it's a beast, one as tall as a mountain! we won't rest 'til he's good and deceased! sally forth, tally ho, grab your sword, grab your bow praise the lord and here we go!


we'll lay siege to his castle and bring back his head!


i have to warn the beast. this is all my fault. oh, papa. what are we going to do?


now, now. we'll think of something.


we don't like, what we don't understand, it frankly scares us and this monster is mysterious at least! bring your guns, bring your knives, save your children and your wives, we'll save our village and our lives, we'll kill the beast!


i knew it, i knew it was foolish to get our hopes up.

In [579]:
#716, 717, 721,725, 728
for line in b_b.Text.iloc[714:730]:
    print(line)
    print('\n')

who's with me? aahh!


take whatever booty you can find, but remember, the beast is mine!


hearts ablaze, banners high! we go marching into battle, unafraid, although the danger just increased!


raise the flag, sing the song here we come, we're fifty strong and fifty frenchmen can't be wrong, let's kill the beast!


pardon me, master.


leave me in peace.


but sir, the castle is under attack!


kill the beast, kill the beast!


this isn't working!


oh, lumiere! we must do something!


wait! i know!


kill the beast, kill the beast!


what shall we do, master?


it doesn't matter now. just let them come.


kill the beast, kill the beast, kill the beast!!


now!!!

In [580]:
bb_songs.extend([716, 717, 721, 725, 728])

In [581]:
bb_songs

[1, 2, 3, 4, 5, 6, 7, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 39, 40, 41, 42, 43, 44, 45, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 213, 336, 344, 345, 346, 458, 459, 460, 461, 462, 464, 466, 467, 468, 469, 470, 471, 472, 473, 474, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 583, 599, 600, 770, 684, 685, 686, 687, 688, 689, 690, 691, 716, 717, 721, 725, 728]

In [582]:
song_func = partial(is_dialogue, song=bb_songs)
b_b["Song"] = b_b.index.map(song_func)

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [583]:
b_b.sample(5)

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
699,MID,m,Beauty and the Beast,ANT,D,gaston,NON-P,NaN,screw your courage to the sticking place,700,1991
740,MID,m,Beauty and the Beast,ANT,D,gaston,NON-P,NaN,come on out and fight! were you in love with h...,741,1991
278,MID,f,Beauty and the Beast,PRO,D,belle,PRINCESS,NaN,no.,279,1991
250,MID,m,Beauty and the Beast,PRO,D,beast,PRINCE,NaN,then he shouldn't have trespassed here.,251,1991
174,MID,m,Beauty and the Beast,PRO,D,beast,PRINCE,NaN,who are you! what are you doing here?,175,1991

In [584]:
b_b.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 771 entries, 0 to 770
Data columns (total 11 columns):
Disney_Period       771 non-null object
Gender              771 non-null object
Movie               771 non-null object
Role                771 non-null object
Song                771 non-null object
Speaker             771 non-null object
Speaker_Status      771 non-null object
Start_Scene         0 non-null object
Text                771 non-null object
UTTERANCE_NUMBER    771 non-null int64
Year                771 non-null int64
dtypes: int64(2), object(9)
memory usage: 45.2+ KB

In [585]:
b_b.reset_index(drop = True, inplace = True)

## Pocahontas

In [586]:
poc = disney[disney.Movie == 'Pocahontas']

In [587]:
poc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 638 entries, 3336 to 3973
Data columns (total 11 columns):
Disney_Period       638 non-null object
Gender              0 non-null object
Movie               638 non-null object
Role                0 non-null object
Song                0 non-null object
Speaker             638 non-null object
Speaker_Status      638 non-null object
Start_Scene         0 non-null object
Text                638 non-null object
UTTERANCE_NUMBER    638 non-null int64
Year                638 non-null int64
dtypes: int64(2), object(9)
memory usage: 37.4+ KB

In [589]:
poc.reset_index(drop = True, inplace = True)

In [590]:
poc.head()

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
0,MID,NaN,Pocahontas,NaN,NaN,english chorus,NON-P,NaN,in sixteen hundred seven we sail the open sea ...,1,1995
1,MID,NaN,Pocahontas,NaN,NaN,englishman,NON-P,NaN,ready to hoist the cannon?,2,1995
2,MID,NaN,Pocahontas,NaN,NaN,englishman,NON-P,NaN,aye!,3,1995
3,MID,NaN,Pocahontas,NaN,NaN,lon,NON-P,NaN,"hey, look! is that smith?",4,1995
4,MID,NaN,Pocahontas,NaN,NaN,ben,NON-P,NaN,"that's him, all right, the old sea dog.",5,1995

### 1) Gender

In [592]:
print(len(poc.Speaker.unique()))
poc.Speaker.unique()

27

array(['english chorus', 'englishman', 'lon', 'ben', 'thomas',
       'john smith', 'english chorus ', 'englishman ', 'thomas ', 'ben ',
       'lon ', 'ratcliffe  ', 'wiggins ', 'englishmen  ',
       'englishmen & john smith', 'kekata ', 'powhatan ', 'nakoma ',
       'pocahontas', 'grandmother willow', 'ratcliffe ', 'kocoum ',
       'ben& lon ', 'all  ', 'wind spirit ', 'namontack  ',
       'native americans '], dtype=object)

In [593]:
poc.Speaker = poc.Speaker.map(lambda x: x.strip())

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [594]:
print(len(poc.Speaker.unique()))
poc.Speaker.unique()

21

array(['english chorus', 'englishman', 'lon', 'ben', 'thomas',
       'john smith', 'ratcliffe', 'wiggins', 'englishmen',
       'englishmen & john smith', 'kekata', 'powhatan', 'nakoma',
       'pocahontas', 'grandmother willow', 'kocoum', 'ben& lon', 'all',
       'wind spirit', 'namontack', 'native americans'], dtype=object)

In [597]:
poc_female = ['nakoma', 'pocahontas', 'grandmother willow']
poc_male = ['english chorus', 'englishman', 'lon', 'ben', 'thomas', 'john smith', 'ratcliffe', 'wiggins',
           'englishmen', 'englishmen & john smith', 'kekata', 'powhatan', 'kocoum', 'ben& lon', 'namontack']
#neutral: all, wind spirit, native americans
print(len(poc_female)+len(poc_male))

18

In [600]:
gender_func = partial(whichgen, female = poc_female, male=poc_male)
poc["Gender"] = poc.Speaker.map(gender_func)

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

### 2) Roles
Again, I'm conflicted here. Powhatan can be seen as both a protagonist and an antagonist from pocahontas' perspective

In [603]:
poc.Speaker.unique()

array(['english chorus', 'englishman', 'lon', 'ben', 'thomas',
       'john smith', 'ratcliffe', 'wiggins', 'englishmen',
       'englishmen & john smith', 'kekata', 'powhatan', 'nakoma',
       'pocahontas', 'grandmother willow', 'kocoum', 'ben& lon', 'all',
       'wind spirit', 'namontack', 'native americans'], dtype=object)

In [604]:
poc_pro = ['pocahontas', 'john smith']
poc_ant = ['ratcliffe', 'powhatan']
poc_helper = ['nakoma', 'grandmother willow']

In [605]:
role_func = partial(whichrole, pro = poc_pro, ant = poc_ant, helper = poc_helper)
poc["Role"] = poc.Speaker.map(role_func)

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

### 3) Songs
Songs in this movie include: Virginia Company, Steady as the Beating Drum, Just Around the River Bend, Mine Mine Mine, Colors of the Wind, Listen with your Heart, Savages, If I Never Knew You

In [655]:
poc_song_words = ['virginia','steady', 'just around', 'mine, mine','of the wind', 'listen with your heart','savages, savages',
                 'if i never knew']
for line in poc_song_words:
    print(line)
    print(poc[["Speaker", "Text"]][poc.Text.str.contains(line, regex = False)])
    print('\n')

virginia
                     Speaker  \
0             english chorus
9             english chorus
60   englishmen & john smith
63                englishmen
172                ratcliffe

                                                  Text
0    in sixteen hundred seven we sail the open sea ...
9    on the beaches of virginny there's diamonds li...
60   we're stalwart men and bold of the virginia co...
63   it's glory, god and gold and the virginia comp...
172  why, of course! let's not forget what the span...


steady
        Speaker                                               Text
19   john smith  steady on the course. it's all right, thomas. ...
102    powhatan  pocahontas, come with me. you are the daughter...
103  pocahontas  he wants me to be steady. . . like the river. ...
151         ben  keep it taut, lads, keep it taut! steady, stea...
297         lon                                   steady, steady!


just around
        Speaker                                               Text
103  pocahontas  he wants me to be steady. . . like the river. ...


mine, mine
       Speaker                                               Text
172  ratcliffe  why, of course! let's not forget what the span...
179  ratcliffe  there'll be heaps of it and i'll be on top of ...


of the wind
        Speaker                                               Text
287  pocahontas  what you mean is, not like you. you think i'm ...


listen with your heart
                Speaker                                               Text
124  grandmother willow  que que natora you will understand listen with...
126  grandmother willow  listen with your heart you will understand win...
206  grandmother willow  listen with your heart you will understand let...
208  grandmother willow        listen with your heart you will understand


savages, savages
              Speaker                                               Text
555        englishmen                                  savages, savages
557        englishmen                                  savages, savages
559        englishmen  they're savages, savages dirty shrieking devil...
561            kekata  beneath that milky hide there's emptiness insi...
562          powhatan  barely even human native americans savages, sa...
566  native americans  they're savages, savages first we deal with th...
567               all                                  savages, savages
569               all                                  savages, savages
571               all  savages, savages barely even human now we soun...
588        pocahontas  please don't let it be too late english & nati...
589        pocahontas  how loud are the drums of war english & native...


if i never knew
        Speaker                                               Text
524  john smith  pocahontas, look at me. i'd rather die tomorro...
525  pocahontas  i thought our love would be so beautiful someh...
527  pocahontas                         if i never knew this love
538  pocahontas      & john smithlost forever if i never knew you

In [614]:
#Virginia Company
#0, 9
for line in poc.Text.iloc[:10]:
    print(line)
    print('\n')

in sixteen hundred seven we sail the open sea for glory, god and gold and the virginia company for the new world is like heaven and we'll all be rich and free or so we have been told by the virginia company so we have been told by the virginia company for glory, god and gold and the virginia company


ready to hoist the cannon?


aye!


hey, look! is that smith?


that's him, all right, the old sea dog.


captain john smith! i've heard some amazing stories about him.


are you coming on this voyage, too?


â€˜course he is, you halfwit. you can't fight indians without john smith.


that's right. i'm not about to let you boys have all the fun.


on the beaches of virginny there's diamonds like debris there's silver rivers flow and gold you pick right off a tree with a nugget for my winnie and another one for me and all the rest'll go to the virginia company it's glory, god and gold and the virginia company

In [617]:
#58-60, 63
for line in poc.Text.iloc[58:65]:
    print(line)
    print('\n')

we'll kill ourselves an injun


or maybe two or three


we're stalwart men and bold of the virginia company


what do you suppose the new world will look like?


like all the others, i suppose. i've seen hundreds of new worlds, thomas. what could possibly be different about this one?


it's glory, god and gold and the virginia company


kama wingapo powhatan.

In [618]:
poc_songs = [0, 9, 58, 59, 60, 63]

In [625]:
#Steady as the Beating Drum
#turns out, the song isn't in this dataframe

In [626]:
#Just Around the River Bend
#102 is partially sung, but not enough to deem it a song line
#103
for line in poc.Text.iloc[102:105]:
    print(line)
    print('\n')

pocahontas, come with me. you are the daughter of the chief. it is time to take your place among our people. even the wild mountain stream must someday join the big river. as the river cuts his path though the river's proud and strong he will choose the smoothest course that's why rivers live so long they're steady as the steady beating drum your mother wore this for our wedding. it was her dream to see you wear it at your own. it suits you.


he wants me to be steady. . . like the river. but it's not steady at all. what i love most about rivers is you can't step in the same river twice the water's always changing, always flowing but people, i guess, can't live like that we all must pay a price to be safe we lose our chance of ever knowing what's around the riverbend waiting just around the riverbend i look once more just about the riverbend beyond the shore where the gulls fly free don't know what for what i dream the day might send just around the riverbend for me coming for me i feel it there beyond those trees or right behind these waterfalls can i ignore that sound of distant drumming? for a handsome, sturdy husband who builds handsome, sturdy walls and never dreams that something might be coming just around the riverbend just around the riverbend i look once more just around the riverbend beyond the shore somewhere past the sea don't know what for why do all my dreams extend just around the riverbend just around the riverbend should i choose the smoothest course? steady as the beating drum should i marry kocoum? is all my dreaming at an end? or do you still wait for me, dream giver just around the riverbend?


is that my pocahontas?

In [628]:
poc_songs.append(103)

In [630]:
#Colors of the Wind
#287
for line in poc.Text.iloc[286:289]:
    print(line)
    print('\n')

well, when i say uncivilised, what i mean is â€“ is. . .


what you mean is, not like you. you think i'm an ignorant savage and you've been so many places, i guess it must be so but still i cannot see if the savage one is me how can there be so much that you don't know? you don't know you think you own whatever land you land on the earth is just a dead thing you can claim but i know every rock and tree and creature has a life, has a spirit, has a name you think the only people who are people are the people who look and think like you but if you walk the footsteps of a stranger you'll learn things you never knew you never knew have you ever heard the wolf cry to the bluecorn moon? or asked the grinning bobcat why he grinned? can you sing with all the voices of the mountain? can you paint with all the colours of the wind? can you paint with all the colours of the wind? come run the hidden pine trails of the forest come taste the sunsweet berries of the earth come roll in all the riches all around you and for once, never wonder what they're worth the rainstorm and the river are my brothers the heron and the otter are my friends and we are all connected to each other in a circle, in a hoop that never ends how high does the sycamore grow? if you cut it down, then you'll never know and you'll never hear the wolf cry to the bluecorn moon for whether we are white or copperskinned we need to sing with all the voices of the mountain we need to paint with all the colours of the wind you can own the earth and still all you'll own is earth until you can paint with all the colours of the wind


what is it?

In [631]:
poc_songs.append(287)

In [633]:
#Listen with your Heart
#124, 126
for line in poc.Text.iloc[123:130]:
    print(line)
    print('\n')

i don't understand.


que que natora you will understand listen with your heart you will understand let it break upon you like a wave upon the sand


it's saying something's coming! strange clouds?


listen with your heart you will understand wind spirits you will understand


what do you see?


clouds. strange clouds.


look at it, wiggins. an entire new world chock full of gold, just waiting for me.

In [636]:
#205, 206, 208
for line in poc.Text.iloc[203:210]:
    print(line)
    print('\n')

mattaque natorath.


you don't understand a word i'm saying, do you? it's all right.


ay ay ay na ay ay na


listen with your heart you will understand let it break upon you like a wave upon the sand


who are you?


listen with your heart you will understand


pocahontas.

In [638]:
#the wind spirit only vocalizes
poc.Text[poc.Speaker == 'wind spirit']

205         ay ay ay na ay ay na
366    ay ay ay na ay ay na. . .
Name: Text, dtype: object

In [639]:
poc_songs.extend([124, 126, 205, 206, 208, 266])

In [642]:
#Savages
#554-571
for line in poc.Text.iloc[550:575]:
    print(line)
    print('\n')

filthy beasts!


it's perfect, wiggins! i couldn't have planned this better myself. the gold is as good as mine!


we've got to save him! he'd do the same for any of us.


thomasis right! we've got to do something.


and so we shall! i told you those savages couldn't be trusted. smith tried to befriend them, and look what they've done to him. but now i say it's time to rescue our courageous comrade. at daybreak, we attack! what can you expect from filthy little heathens here's what you get when races are diverse their skin's a hellish red they're only good when dead they're vermin as they said and worse they're


savages, savages


barely even human


savages, savages


drive them to our shore they're not like you and me which means they must be evil we must sound the drums of war


they're savages, savages dirty shrieking devils now we sound the drums of war


this is what we feared the paleface is a demon the only thing they feel at all is greed


beneath that milky hide there's emptiness inside native american warriors i wonder if they even bleed native americans they're savages, savages


barely even human native americans savages, savages


killers at the core


they're different from us which means they can't be trusted


we must sound the drums of war


they're savages, savages first we deal with this one then we sound the drums of war


savages, savages


let's go get a few men


savages, savages


now it's up to you, men


savages, savages barely even human now we sound the drums of war


they're going to kill him at sunrise, grandmother willow.


you have to stop them.


i can't.

In [646]:
poc_songs.extend(list(range(554, 572)))

In [645]:
#582 - 590
for line in poc.Text.iloc[580:593]:
    print(line)
    print('\n')

sunrise!


it's not too late, child. let the spirits of the earth guide you! you know your path, child. . . now follow it!


this will be the day let's go, men!


this will be the morning bring out the prisoner! english & native americans we will see them dying in the dust


i don't know what i can do still i know i've got to try english & native americans now we make them pay


eagle help my feet to fly english & native americans now without a warning


mountain, help my heart be great english & native americans now we leave them blood and bone and dust


spirits of the earth and sky english & native americans it's them or us


please don't let it be too late english & native americans they're just a bunch of filthy, stinking savages, savages demons, devils, kill them savages, savages what are we waiting for? destroy their evil race until there's not a trace left


how loud are the drums of war english & native americans we will sound the drums of war savages, savages now we sound the drums of war now we see what comes of trying to be chums


is the death of all i love carried in the drumming of english & native americans war


no! if you kill him you'll have to kill me, too.


daughter, stand back!

In [647]:
poc_songs.extend(list(range(582, 591)))

In [648]:
#If I never knew you
#524-532, 536-538
for line in poc.Text.iloc[523:541]:
    print(line)
    print('\n')

it would've been better if we'd never met, none of this would've happened.


pocahontas, look at me. i'd rather die tomorrow than live a hundred years without knowing you. if i never knew you if i never felt this love i would have no inkling of how precious life can be if i never held you i would never have a clue how at last i'd find in you the missing part of me in this world so full of fear full of rage and lies i can see the truth so clear in your eyes so dry your eyes and i'm so grateful to you i'd have lived my whole life through lost forever, if i never knew you


i thought our love would be so beautiful somehow we'd make the whole world bright i never knew that fear and hate could be so strong all they'd leave us were these whispers in the night but still my heart is saying we were right for if i never knew you


there's no moment i regret


if i never knew this love


since the moment that we met


i would have no inkling of


if our time has gone too fast


how precious life can be


i've lived at last


pocahontas?


i can't leave you.


you never will. no matter what happens to me, i'll always be with you. forever.


and i'm so grateful to you i'd have lived my whole life through empty as the sky


never knowing why


& john smithlost forever if i never knew you


help! somebody, help! help! help!


easy, lad. what is it?

In [650]:
poc_songs.extend(list(range(524,533)))

In [651]:
poc_songs.extend([536, 537, 538])

In [660]:
#Mine, Mine, Mine
#172-200
for line in poc.Text.iloc[170:205]:
    print(line)
    print('\n')

you men build the fort. the rest of you. . . break out the shovels! it's time to start digging.


digging?


why, of course! let's not forget what the spanish found when they came to the new world. gold, mountains of it. why, for years they've been ravaging the new world of its most precious resources but now. . . it's our turn. the gold of cortÃ©z the jewels of pizarro will seem like mere trinkets by this time tomorrow the gold we find here will dwarf them by far oh, with all ya got in ya, boys dig up virginia, boys mine, boys, mine, every mountain and dig, boys, dig â€˜til ya drop grab a pick, boys quick, boys shove in a shovel uncover those lovely pebbles that sparkle and shine it's gold and it's mine, mine, mine


dig and dig and dig and diggety dig and dig and dig and diggetydig. . .


hey nonny nonny ho nonny nonny


ooh, how i love it


hey nonny nonny ho nonny nonny


riches for cheap


hey nonny nonny ho nonny nonny


there'll be heaps of it and i'll be on top of the heap my rivals back home it's not that i'm bitter but think how they'll squirm when they see how i glitter the ladies in court will be all atwitter the king will reward me he'll knight me no! lord me it's mine, mine, mine for the taking it's mine, boys mine me that gold with those nuggets dug it's glory they'll give me my dear friend king jimmy will probably build me a shrine when all of the gold is mine


dig and dig and dig and diggety dig and dig and dig and diggetydig


all of my life i have searched for land like this one a wilder more challenging country i couldn't design hundreds of dangers await and i don't plan to miss one in a land i can claim, a land i can tame the greatest adventure is mine


keep on working, lads


mine


don't be shirking, lads mine, boys, mine mine me that gold


dig, dig, and diggety


beautiful gold


dig, dig, for that gold make this island my land


make the mounds big, boys i'd help you to dig, boys but i've got this crick in me spine


this land we behold


this beauty untold


a man can be bold


it all can be sold


so go for the gold we know which is here


is


all the riches here


mine


from this minute


mine


this land and what's in it is


mine


dig and dig and diggetydig hey nonny nonny, it's mine


no, wait! please! please! don't run off. it's all right, i'm not gonna hurt you. here, let me help you out of there.


mattaque natorath.


you don't understand a word i'm saying, do you? it's all right.

In [665]:
poc_songs.extend(list(range(172,201)))

In [666]:
poc_songs

[0, 9, 58, 59, 60, 63, 103, 287, 124, 126, 205, 206, 208, 266, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 582, 583, 584, 585, 586, 587, 588, 589, 590, 524, 525, 526, 527, 528, 529, 530, 531, 532, 536, 537, 538, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200]

In [667]:
song_func = partial(is_dialogue, song = poc_songs)
poc["Song"] = poc.index.map(song_func)

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [668]:
poc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 638 entries, 0 to 637
Data columns (total 11 columns):
Disney_Period       638 non-null object
Gender              638 non-null object
Movie               638 non-null object
Role                638 non-null object
Song                638 non-null object
Speaker             638 non-null object
Speaker_Status      638 non-null object
Start_Scene         0 non-null object
Text                638 non-null object
UTTERANCE_NUMBER    638 non-null int64
Year                638 non-null int64
dtypes: int64(2), object(9)
memory usage: 32.4+ KB

In [669]:
poc.head()

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
0,MID,m,Pocahontas,N,S,english chorus,NON-P,NaN,in sixteen hundred seven we sail the open sea ...,1,1995
1,MID,m,Pocahontas,N,D,englishman,NON-P,NaN,ready to hoist the cannon?,2,1995
2,MID,m,Pocahontas,N,D,englishman,NON-P,NaN,aye!,3,1995
3,MID,m,Pocahontas,N,D,lon,NON-P,NaN,"hey, look! is that smith?",4,1995
4,MID,m,Pocahontas,N,D,ben,NON-P,NaN,"that's him, all right, the old sea dog.",5,1995

## Mulan

In [15]:
mulan = disney[disney.Movie == "Mulan"]

In [16]:
mulan.head()

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
3974,MID,NaN,Mulan,NaN,NaN,soldier,NON-P,NaN,ah!,1,1998
3975,MID,NaN,Mulan,NaN,NaN,soldier,NON-P,NaN,we're under attack! light the signal! the door...,2,1998
3976,MID,NaN,Mulan,NaN,NaN,soldier,NON-P,NaN,now all of china knows you're here.,3,1998
3977,MID,NaN,Mulan,NaN,NaN,shan yu,NON-P,NaN,perfect.,4,1998
3978,MID,NaN,Mulan,NaN,NaN,general,NON-P,NaN,"your majesty, the huns have crossed our northe...",5,1998

### 1) Gender

In [27]:
char = mulan.Speaker.unique()

array(['soldier', 'shan yu', 'general', 'chi fu', 'emperor', 'mulan',
       'fa zu', 'woman #1', 'fa li', 'granny fa', 'woman #2', 'woman #3',
       'both', 'woman #4', 'woman #5', 'all', 'woman #6', 'matchmaker',
       'son', 'chi fhou', 'fa zhou', 'great ancestor', 'mushu',
       'ancestor #1', 'ancestor #2', 'ancestor #3', 'ancestor #4',
       'ancestor #5', 'ancestor #6', 'ancestor #7', 'ancestor #8',
       'fa thang', 'crickee', 'hun', 'soldier #1', 'soldier #2',
       'hun archer', 'recruit', 'yow', 'ling', 'chien po', 'yao', 'shang',
       'soldiers', 'chorus', 'hun #1', 'hun #2', 'hun #3', 'men singing',
       'chienpo', 'parade leader', 'man', 'guard', 'guard #2', 'shun yu',
       'citizen'], dtype=object)

In [65]:
len(char)

56

In [28]:
np.sort(char)

array(['all', 'ancestor #1', 'ancestor #2', 'ancestor #3', 'ancestor #4',
       'ancestor #5', 'ancestor #6', 'ancestor #7', 'ancestor #8', 'both',
       'chi fhou', 'chi fu', 'chien po', 'chienpo', 'chorus', 'citizen',
       'crickee', 'emperor', 'fa li', 'fa thang', 'fa zhou', 'fa zu',
       'general', 'granny fa', 'great ancestor', 'guard', 'guard #2',
       'hun', 'hun #1', 'hun #2', 'hun #3', 'hun archer', 'ling', 'man',
       'matchmaker', 'men singing', 'mulan', 'mushu', 'parade leader',
       'recruit', 'shan yu', 'shang', 'shun yu', 'soldier', 'soldier #1',
       'soldier #2', 'soldiers', 'son', 'woman #1', 'woman #2',
       'woman #3', 'woman #4', 'woman #5', 'woman #6', 'yao', 'yow'],
      dtype=object)

Looks like there are some serious misspellings here. Let's verify that these are all the same character. I'll look at:
* fa zu vs. fa zhou
* chi fhou vs chi fu
* shan yu vs. shun yu
* yow vs. yao
* chienpo vs chien po

In [12]:
mulan[mulan.Speaker == "fa zu"] #Mulan's dad

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
3992,MID,NaN,Mulan,NaN,NaN,fa zu,NON-P,NaN,honorable ancestors ... please help mulan impr...,19,1998
3994,MID,NaN,Mulan,NaN,NaN,fa zu,NON-P,NaN,mulan ...,21,1998
3996,MID,NaN,Mulan,NaN,NaN,fa zu,NON-P,NaN,mulan ...,23,1998
3998,MID,NaN,Mulan,NaN,NaN,fa zu,NON-P,NaN,mulan.,25,1998
4000,MID,NaN,Mulan,NaN,NaN,fa zu,NON-P,NaN,mulan. you should already be in town. we're co...,27,1998
4002,MID,NaN,Mulan,NaN,NaN,fa zu,NON-P,NaN,hurry! i'm going to ... pray some more.,29,1998
4060,MID,NaN,Mulan,NaN,NaN,fa zu,NON-P,NaN,"my, my, what beautiful blossoms we have this y...",87,1998

In [29]:
mulan[mulan.Speaker == 'fa zhou'] #also Mulan's dad

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
4069,MID,NaN,Mulan,NaN,NaN,fa zhou,NON-P,NaN,i am ready to serve the emperor.,96,1998
4071,MID,NaN,Mulan,NaN,NaN,fa zhou,NON-P,NaN,mulan!,98,1998
4074,MID,NaN,Mulan,NaN,NaN,fa zhou,NON-P,NaN,mulan. you dishonor me.,101,1998
4076,MID,NaN,Mulan,NaN,NaN,fa zhou,NON-P,NaN,"yes, sir.",103,1998
4082,MID,NaN,Mulan,NaN,NaN,fa zhou,NON-P,NaN,it is an honor to protect my country and my fa...,109,1998
4084,MID,NaN,Mulan,NaN,NaN,fa zhou,NON-P,NaN,i will die doing what's right.,111,1998
4086,MID,NaN,Mulan,NaN,NaN,fa zhou,NON-P,NaN,i know my place. it is time you learned yours.,113,1998
4088,MID,NaN,Mulan,NaN,NaN,fa zhou,NON-P,NaN,what? it can't be ...,115,1998
4089,MID,NaN,Mulan,NaN,NaN,fa zhou,NON-P,NaN,mulan! no ...,116,1998
4091,MID,NaN,Mulan,NaN,NaN,fa zhou,NON-P,NaN,"if i reveal her, she will be.",118,1998
4509,MID,NaN,Mulan,NaN,NaN,fa zhou,NON-P,NaN,mulan!,536,1998
4511,MID,NaN,Mulan,NaN,NaN,fa zhou,NON-P,NaN,the greatest gift in honor is having you for a...,538,1998

In [32]:
print(len(mulan[mulan.Speaker == 'fa zhou']))
print(len(mulan[mulan.Speaker == "fa zu"]))

12
7

In [31]:
# replace fa zu with fa zhou
for x in mulan.Speaker:
    if x == 'fa zu':
        mulan

This is really fa zhou
This is really fa zhou
This is really fa zhou
This is really fa zhou
This is really fa zhou
This is really fa zhou
This is really fa zhou

In [33]:
mulan.Speaker.replace("fa zu", "fa zhou", inplace = True)

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\pandas\core\generic.py:5890: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [34]:
#Should be 19
print(len(mulan[mulan.Speaker == 'fa zhou']))

19

In [35]:
mulan[mulan.Speaker == 'chi fhou'] #The emperor's advisor

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
4067,MID,NaN,Mulan,NaN,NaN,chi fhou,NON-P,NaN,the fa family!,94,1998

In [37]:
mulan[mulan.Speaker == 'chi fu'].head() #The correct spelling

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
3979,MID,NaN,Mulan,NaN,NaN,chi fu,NON-P,NaN,impossible! no one can get through the great w...,6,1998
3983,MID,NaN,Mulan,NaN,NaN,chi fu,NON-P,NaN,"yes, your highness.",10,1998
4064,MID,NaN,Mulan,NaN,NaN,chi fu,NON-P,NaN,citizens! i bring a proclamation from the impe...,91,1998
4065,MID,NaN,Mulan,NaN,NaN,chi fu,NON-P,NaN,the chow family! the yee family!,92,1998
4073,MID,NaN,Mulan,NaN,NaN,chi fu,NON-P,NaN,silence! you will do well to teach your daught...,100,1998

In [38]:
print(len(mulan[mulan.Speaker == 'chi fu']))
print(len(mulan[mulan.Speaker == 'chi fhou']))

38
1

In [40]:
mulan.Speaker.replace("chi fhou", "chi fu", inplace = True)

In [43]:
print(mulan[mulan.Speaker == 'chi fhou']) #empty! It worked!
print(len(mulan[mulan.Speaker == 'chi fu'])) #and now this is 39!

Empty DataFrame
Columns: [Disney_Period, Gender, Movie, Role, Song, Speaker, Speaker_Status, Start_Scene, Text, UTTERANCE_NUMBER, Year]
Index: []
39

In [51]:
mulan[mulan.Speaker == "shan yu"].head() #the villain

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
3,MID,NaN,Mulan,NaN,NaN,shan yu,NON-P,NaN,perfect.,4,1998
172,MID,NaN,Mulan,NaN,NaN,shan yu,NON-P,NaN,"nice work, gentlemen. you've found the hun arm...",173,1998
174,MID,NaN,Mulan,NaN,NaN,shan yu,NON-P,NaN,"stop me! he invited me. by building his wall, ...",175,1998
175,MID,NaN,Mulan,NaN,NaN,shan yu,NON-P,NaN,how many men does it take to deliver a message?,176,1998
319,MID,NaN,Mulan,NaN,NaN,shan yu,NON-P,NaN,what do you see?,320,1998

In [47]:
mulan.reset_index(drop=True, inplace=True)

In [48]:
mulan[mulan.Speaker == "shun yu"] #shan yu potentially misspelled

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
488,MID,NaN,Mulan,NaN,NaN,shun yu,NON-P,NaN,no!,489,1998

In [50]:
#not too informative. I'm pretty sure this is shan yu, but let's look at the context just the make sure
mulan.iloc[485:490] #yep, that's shan yu

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
485,MID,NaN,Mulan,NaN,NaN,shan yu,NON-P,NaN,then you will kneel ... in pieces!,486,1998
486,MID,NaN,Mulan,NaN,NaN,mulan,PRINCESS,NaN,"chienpo, get the emperor!",487,1998
487,MID,NaN,Mulan,NaN,NaN,chienpo,NON-P,NaN,"sorry, your majesty.",488,1998
488,MID,NaN,Mulan,NaN,NaN,shun yu,NON-P,NaN,no!,489,1998
489,MID,NaN,Mulan,NaN,NaN,yao,NON-P,NaN,come on!,490,1998

In [53]:
print(len(mulan[mulan.Speaker == 'shan yu']))
print(len(mulan[mulan.Speaker == 'shun yu']))

14
1

In [55]:
mulan.Speaker.replace("shun yu", "shan yu", inplace = True)
print(len(mulan[mulan.Speaker == 'shan yu'])) #Awesome!

15

In [56]:
mulan[mulan.Speaker == 'yow'].head()

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
203,MID,NaN,Mulan,NaN,NaN,yow,NON-P,NaN,hmmm ...,204,1998
207,MID,NaN,Mulan,NaN,NaN,yow,NON-P,NaN,what are you looking at?,208,1998

In [58]:
mulan.iloc[200:210] #yep that's supposed to be yao

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
200,MID,NaN,Mulan,NaN,NaN,mulan,PRINCESS,NaN,they're disgusting.,201,1998
201,MID,NaN,Mulan,NaN,NaN,mushu,NON-P,NaN,"no, they're men. and you're gonna have to act ...",202,1998
202,MID,NaN,Mulan,NaN,NaN,recruit,NON-P,NaN,look! this tattoo will protect me from harm!,203,1998
203,MID,NaN,Mulan,NaN,NaN,yow,NON-P,NaN,hmmm ...,204,1998
204,MID,NaN,Mulan,NaN,NaN,ling,NON-P,NaN,i hope you can get your money back!,205,1998
205,MID,NaN,Mulan,NaN,NaN,mulan,PRINCESS,NaN,i don't think i can do this ...,206,1998
206,MID,NaN,Mulan,NaN,NaN,mushu,NON-P,NaN,"it's all attitude! be tough, like this guy here!",207,1998
207,MID,NaN,Mulan,NaN,NaN,yow,NON-P,NaN,what are you looking at?,208,1998
208,MID,NaN,Mulan,NaN,NaN,mushu,NON-P,NaN,punch him. it's how men say hello.,209,1998
209,MID,NaN,Mulan,NaN,NaN,chien po,NON-P,NaN,"oh, yow! you've made a friend!",210,1998

In [57]:
mulan[mulan.Speaker == 'yao'].head()

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
211,MID,NaN,Mulan,NaN,NaN,yao,NON-P,NaN,"woo hoo ... i'm gonna hit you so hard, it'll m...",212,1998
213,MID,NaN,Mulan,NaN,NaN,yao,NON-P,NaN,errrrrgh ....,214,1998
215,MID,NaN,Mulan,NaN,NaN,yao,NON-P,NaN,nonuamitofudah.,216,1998
217,MID,NaN,Mulan,NaN,NaN,yao,NON-P,NaN,"nrrgh. ah, you ain't worth my time. chicken boy.",218,1998
219,MID,NaN,Mulan,NaN,NaN,yao,NON-P,NaN,rrraaaaghhh!,220,1998

In [59]:
print(len(mulan[mulan.Speaker == 'yow']))
print(len(mulan[mulan.Speaker == 'yao']))

2
23

In [60]:
mulan.Speaker.replace("yow", "yao", inplace = True)
print(len(mulan[mulan.Speaker == 'yao'])) #Awesome!

25

In [61]:
mulan[mulan.Speaker == 'chienpo'] #typo

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
385,MID,NaN,Mulan,NaN,NaN,chienpo,NON-P,NaN,the ... general.,386,1998
403,MID,NaN,Mulan,NaN,NaN,chienpo,NON-P,NaN,do you see them?,404,1998
487,MID,NaN,Mulan,NaN,NaN,chienpo,NON-P,NaN,"sorry, your majesty.",488,1998

In [62]:
mulan[mulan.Speaker == 'chien po'] #correct spelling

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
209,MID,NaN,Mulan,NaN,NaN,chien po,NON-P,NaN,"oh, yow! you've made a friend!",210,1998
212,MID,NaN,Mulan,NaN,NaN,chien po,NON-P,NaN,"yow, relax and chant with me.",213,1998
214,MID,NaN,Mulan,NaN,NaN,chien po,NON-P,NaN,nanuami tofu dah ...,215,1998
216,MID,NaN,Mulan,NaN,NaN,chien po,NON-P,NaN,feel better?,217,1998
284,MID,NaN,Mulan,NaN,NaN,chien po,NON-P,NaN,sweet and pungent shrimp.,285,1998
296,MID,NaN,Mulan,NaN,NaN,chien po,NON-P,NaN,i'm never gonna catch my breath,297,1998
301,MID,NaN,Mulan,NaN,NaN,chien po,NON-P,NaN,now i really wish that i knew how to swim,302,1998
338,MID,NaN,Mulan,NaN,NaN,chien po,NON-P,NaN,and i'm chienpo.,339,1998

In [63]:
print(len(mulan[mulan.Speaker == 'chienpo']))
print(len(mulan[mulan.Speaker == 'chien po']))

3
8

In [64]:
mulan.Speaker.replace("chienpo", "chien po", inplace = True)
print(len(mulan[mulan.Speaker == 'chien po'])) #Awesome!

11

One more thing before we label characters. Who in the heck is 'fa thang'?

In [67]:
mulan[mulan.Speaker == 'fa thang']

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
147,MID,NaN,Mulan,NaN,NaN,fa thang,NON-P,NaN,"yeah, thanks a lot.",148,1998

In [68]:
mulan.iloc[143:150] #lol, he's the decapitated ancestor.

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
143,MID,NaN,Mulan,NaN,NaN,mushu,NON-P,NaN,"well, y'all don't think i can do it! watch thi...",144,1998
144,MID,NaN,Mulan,NaN,NaN,mushu,NON-P,NaN,"ahhah! jump back, i'm pretty hot. but i don't ...",145,1998
145,MID,NaN,Mulan,NaN,NaN,great ancestor,NON-P,NaN,you had your chance to protect the fa family.,146,1998
146,MID,NaN,Mulan,NaN,NaN,ancestor #6,NON-P,NaN,your misguidance led fa thang to disaster!,147,1998
147,MID,NaN,Mulan,NaN,NaN,fa thang,NON-P,NaN,"yeah, thanks a lot.",148,1998
148,MID,NaN,Mulan,NaN,NaN,mushu,NON-P,NaN,and your point is?,149,1998
149,MID,NaN,Mulan,NaN,NaN,great ancestor,NON-P,NaN,"the point is, we will be sending a real dragon...",150,1998

Cool. Now Let's get back to character labeling. First, let's check that the length of the character list is 5 entries shorter (was originally 56 entries long)

In [66]:
print(len(mulan.Speaker.unique())) #51!
mulan.Speaker.unique()

51

array(['soldier', 'shan yu', 'general', 'chi fu', 'emperor', 'mulan',
       'fa zhou', 'woman #1', 'fa li', 'granny fa', 'woman #2',
       'woman #3', 'both', 'woman #4', 'woman #5', 'all', 'woman #6',
       'matchmaker', 'son', 'great ancestor', 'mushu', 'ancestor #1',
       'ancestor #2', 'ancestor #3', 'ancestor #4', 'ancestor #5',
       'ancestor #6', 'ancestor #7', 'ancestor #8', 'fa thang', 'crickee',
       'hun', 'soldier #1', 'soldier #2', 'hun archer', 'recruit', 'yao',
       'ling', 'chien po', 'shang', 'soldiers', 'chorus', 'hun #1',
       'hun #2', 'hun #3', 'men singing', 'parade leader', 'man', 'guard',
       'guard #2', 'citizen'], dtype=object)

In [74]:
#making gender lists
m_female = ['mulan', 'woman #1', 'fa li', 'granny fa', 'woman #2', 'woman #3', 'woman #4', 'woman #5', 'woman #6',
          'matchmaker']
m_male = ['soldier', 'shan yu', 'general', 'chi fu', 'emperor', 'fa zhou', 'son', 'great ancestor', 'mushu', 'fa thang',
        'hun', 'solider #1', 'soldier #2', 'hun archer', 'recruit', 'yao', 'ling', 'chien po', 'shang', 'soldiers',
        'hun #1', 'hun #2', 'hun #3', 'men singing', 'parade leader', 'man', 'guard', 'guard #2', 'citizen', 'crickee']
print(len(female) + len(male)) #both, all, ancestor #, chorus (11) are all neutral

40

In [79]:
gender_func = partial(whichgen, female = m_female, male=m_male)
mulan["Gender"] = mulan.Speaker.map(gender_func)

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [81]:
mulan.sample(5)

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
535,MID,m,Mulan,NaN,NaN,fa zhou,NON-P,NaN,mulan!,536,1998
40,MID,f,Mulan,NaN,NaN,fa li,NON-P,NaN,"it would've been warm, if you were here on time.",41,1998
544,MID,f,Mulan,NaN,NaN,mulan,PRINCESS,NaN,would you like to stay for dinner?,545,1998
186,MID,m,Mulan,NaN,NaN,mushu,NON-P,NaN,who am i? who am i? i am the guardian of lost ...,187,1998
527,MID,m,Mulan,NaN,NaN,emperor,NON-P,NaN,", so your family will know what you have done ...",528,1998

### 2) Role
I'm listing mulan and shang as protagonists, their friends as helpers, and shan yu/any huns as antagonists
Once again, Disney's love of making rebellious daughters and uptight dads makes it hard to decide if Fa Zhou should be listed as an antagonist. Too keep things consistent, I'll list him as an antagonist. (Sorry, Disney dads)

In [82]:
mulan.Speaker.unique()

array(['soldier', 'shan yu', 'general', 'chi fu', 'emperor', 'mulan',
       'fa zhou', 'woman #1', 'fa li', 'granny fa', 'woman #2',
       'woman #3', 'both', 'woman #4', 'woman #5', 'all', 'woman #6',
       'matchmaker', 'son', 'great ancestor', 'mushu', 'ancestor #1',
       'ancestor #2', 'ancestor #3', 'ancestor #4', 'ancestor #5',
       'ancestor #6', 'ancestor #7', 'ancestor #8', 'fa thang', 'crickee',
       'hun', 'soldier #1', 'soldier #2', 'hun archer', 'recruit', 'yao',
       'ling', 'chien po', 'shang', 'soldiers', 'chorus', 'hun #1',
       'hun #2', 'hun #3', 'men singing', 'parade leader', 'man', 'guard',
       'guard #2', 'citizen'], dtype=object)

In [83]:
#note: should I include minor antagonists? What about minor helpers, like granny fa?
m_pro = ['mulan', 'shang']
m_ant = ['fa zhou', 'matchmaker', 'hun', 'hun #1', 'hun #2', 'hun #3', 'shan yu']
m_helper = ['mushu', 'crickee', 'yao', 'ling', 'chien po']

In [84]:
role_func = partial(whichrole, pro = m_pro, ant = m_ant, helper = m_helper)
mulan["Role"] = mulan.Speaker.map(role_func)

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [85]:
mulan.sample(5)

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
14,MID,f,Mulan,PRO,NaN,mulan,PRINCESS,NaN,... punctual!,15,1998
193,MID,m,Mulan,HELPER,NaN,mushu,NON-P,NaN,"of course! i am travelsized, for your convenie...",194,1998
404,MID,m,Mulan,HELPER,NaN,yao,NON-P,NaN,yes!,405,1998
534,MID,m,Mulan,N,NaN,emperor,NON-P,NaN,you don't meet a girl like that every dynasty!,535,1998
203,MID,m,Mulan,HELPER,NaN,yao,NON-P,NaN,hmmm ...,204,1998

### 3) Songs
The songs in this movie include: Honor to Us All, Reflection, I'll Make a Man Out of You, and A Girl Worth Fighting For

## Princess and the Frog

## Tangled

## Brave

## Frozen