# Cleaning Up the Disney Data
In the code below, I
* Check the formatting of each film
* Label gender and role(protagonist, antagonist, helper, or neutral)
* Label songs

In [1]:
import numpy as np
import pandas as pd

In [3]:
disney = pd.read_csv(r"C:\Users\cassi\Desktop\Data_Science\Animated-Movie-Gendered-Dialogue\private\Disney_1938_2016.csv")

In [4]:
disney.head()

,Unnamed: 0,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
0,0,EARLY,NaN,Snow White,NaN,NaN,queen,NON-P,NaN,slave in the magic mirror come from the farthe...,1,1937
1,1,EARLY,NaN,Snow White,NaN,NaN,mirror,NON-P,NaN,"what wouldst thou know, my queen ?",2,1937
2,2,EARLY,NaN,Snow White,NaN,NaN,queen,NON-P,NaN,"magic mirror on the wall, who is the fairest o...",3,1937
3,3,EARLY,NaN,Snow White,NaN,NaN,mirror,NON-P,NaN,"famed is thy beauty, majesty. but hold, a love...",4,1937
4,4,EARLY,NaN,Snow White,NaN,NaN,queen,NON-P,NaN,alas for her ! reveal her name.,5,1937

In [5]:
disney = disney.drop(columns="Unnamed: 0")

In [6]:
disney.head()

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
0,EARLY,NaN,Snow White,NaN,NaN,queen,NON-P,NaN,slave in the magic mirror come from the farthe...,1,1937
1,EARLY,NaN,Snow White,NaN,NaN,mirror,NON-P,NaN,"what wouldst thou know, my queen ?",2,1937
2,EARLY,NaN,Snow White,NaN,NaN,queen,NON-P,NaN,"magic mirror on the wall, who is the fairest o...",3,1937
3,EARLY,NaN,Snow White,NaN,NaN,mirror,NON-P,NaN,"famed is thy beauty, majesty. but hold, a love...",4,1937
4,EARLY,NaN,Snow White,NaN,NaN,queen,NON-P,NaN,alas for her ! reveal her name.,5,1937

In [7]:
disney["Movie"].unique() #13 movies, 12 to look at

array(['Snow White', 'Cinderella', 'Sleeping Beauty',
       'The Little Mermaid', 'Beauty and the Beast', 'Aladdin',
       'Pocahontas', 'Mulan', 'The Princess and the Frog', 'Tangled',
       'Brave', 'Frozen', 'Moana'], dtype=object)

In [11]:
disney["Movie"].value_counts()

Frozen                       988
Aladdin                      842
Beauty and the Beast         772
The Princess and the Frog    676
Pocahontas                   638
Mulan                        554
Cinderella                   497
Sleeping Beauty              462
Brave                        411
The Little Mermaid           397
Moana                        382
Snow White                   366
Tangled                      193
Name: Movie, dtype: int64

## Snow White

In [40]:
snow_white = disney[disney.Movie == "Snow White"]

In [41]:
snow_white.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 366 entries, 0 to 365
Data columns (total 11 columns):
Disney_Period       366 non-null object
Gender              0 non-null object
Movie               366 non-null object
Role                0 non-null object
Song                0 non-null object
Speaker             366 non-null object
Speaker_Status      366 non-null object
Start_Scene         0 non-null object
Text                366 non-null object
UTTERANCE_NUMBER    366 non-null int64
Year                366 non-null int64
dtypes: int64(2), object(9)
memory usage: 21.4+ KB

In [42]:
snow_white[["Speaker", "Text"]]

        Speaker                                               Text
0         queen  slave in the magic mirror come from the farthe...
1        mirror                what wouldst thou know, my queen ?
2         queen  magic mirror on the wall, who is the fairest o...
3        mirror  famed is thy beauty, majesty. but hold, a love...
4         queen                   alas for her ! reveal her name.
5        mirror  lips red as the rose. hair black as ebony. ski...
6         queen                                      snow white !
7    snow white  want to know a secret ? promise not to tell ? ...
8        prince                                             today
9    snow white                                              oh !
10       prince                                            hello.
11   snow white                                               oh.
12       prince  did i frighten you ? wait. wait, please. don't...
13        queen  take her far into the forest. find some seclud...
14        guard                                yes, your majesty.
15        queen  and there, my faithful huntsman, you will kill...
16        guard          but, your majesty, the little princess !
17        queen       silence ! you know the penalty if you fail.
18        guard                                yes, your majesty.
19        queen  but to make doubly sure... you do not fail, br...
20   snow white                      one song i have but one song
21   snow white  hello there. what's the matter ? where's your ...
22        guard  i can't ! i can't do it ! forgive me. i beg of...
23   snow white                               i don't understand.
24        guard  she's mad! jealous of you! she'll stop at noth...
25   snow white                                      butbut who ?
26        guard                                        the queen!
27   snow white                                       the queen ?
28        guard  now, quick, child, run! run away, hide! in the...
29   snow white  oh! please, don't run away. i won't hurt you. ...
..          ...                                                ...
336      sleepy             maybe the old queen's got snow white.
337         doc                                       the queen !
338  all dwarfs                                      snow white !
339      grumpy     the queen will kill her ! we gotta save her !
340         doc                   yes, yes, wewe gotta save her !
341       happy                                   what'll we do ?
342         doc                             yes, wwhat'll we do ?
343      grumpy                                come on ! giddap !
344         doc                                     wait for me !
345       queen  there must be something your little heart desi...
346  snow white                           well, there is someone.
347       queen  i thought so. i thought so. old granny knows a...
348  snow white                                     i wish i wish
349       queen                          that's it. go on. go on.
350  snow white  ...and that he will carry me away to his castl...
351       queen  fine ! fine ! now, take a bite. don't let the ...
352  snow white                              oh ! i feel strange.
353       queen                            her breath will still.
354  snow white                                               oh.
355       queen                                her blood congeal.
356  snow white                                               oh.
357       queen                 now i'll be fairest in the land !
358      grumpy       hurry, hurry ! there she goes ! after her !
359       queen  i'm trapped. what will i do ? the meddling lit...
360         doc                                        look out !
361      prince                                          one song
362      chorus  one song, i have but one song one song, only f...
363  snow white                         goodbye. goodbye, grumpy.
364   goodbye.                               oh, dopey. goodbye !
365      chorus  some day when spring is here we'll find our lo...

[366 rows x 2 columns]

In [43]:
snow_white["Speaker"].unique()

array(['queen', 'mirror', 'snow white', 'prince', 'guard', 'all dwarfs',
       'doc', 'happy', 'bashful', 'dopey', 'grumpy', 'sneey', 'sneezy',
       "i can't ", 'various dwarfs', 'sleepy', 'grumpy & sneezy',
       ' ahch ', 'chorus', ' goodbye. '], dtype=object)

In [44]:
# "i can't and ' ahch ' and ' goodbye' are not lines
snow_white["Speaker"][snow_white.Speaker == "i can't "]

87    i can't
Name: Speaker, dtype: object

In [45]:
snow_white[["Speaker", "Text"]].iloc[85:89]

       Speaker                                               Text
85     bashful                            huh ? look, goldenrod.
86      sneezy  don't do it. take them away. my nose ! my hay ...
87    i can't                                     i can't i oh !
88  all dwarfs                                             shh !

In [46]:
line_86 = snow_white["Text"].iloc[86]
print(line_86)

don't do it. take them away. my nose ! my hay fever ! you know i can't stand it.

In [47]:
line_87 = snow_white["Text"].iloc[87]
line_87

"i can't i oh ! "

In [48]:
snow_white["Text"].iloc[86] = line_86 + line_87

c:\users\cassi\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [49]:
snow_white["Text"].iloc[86]

"don't do it. take them away. my nose ! my hay fever ! you know i can't stand it. i can't i oh ! "

In [50]:
new_snow_white = snow_white.drop(index = 87)

In [51]:
new_snow_white.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 0 to 365
Data columns (total 11 columns):
Disney_Period       365 non-null object
Gender              0 non-null object
Movie               365 non-null object
Role                0 non-null object
Song                0 non-null object
Speaker             365 non-null object
Speaker_Status      365 non-null object
Start_Scene         0 non-null object
Text                365 non-null object
UTTERANCE_NUMBER    365 non-null int64
Year                365 non-null int64
dtypes: int64(2), object(9)
memory usage: 21.4+ KB

In [54]:
new_snow_white.iloc[85:89] #utterance numbers must be revised

,Disney_Period,Gender,Movie,Role,Song,Speaker,Speaker_Status,Start_Scene,Text,UTTERANCE_NUMBER,Year
85,EARLY,NaN,Snow White,NaN,NaN,bashful,NON-P,NaN,"huh ? look, goldenrod.",86,1937
86,EARLY,NaN,Snow White,NaN,NaN,sneezy,NON-P,NaN,don't do it. take them away. my nose ! my hay ...,87,1937
88,EARLY,NaN,Snow White,NaN,NaN,all dwarfs,NON-P,NaN,shh !,89,1937
89,EARLY,NaN,Snow White,NaN,NaN,grumpy,NON-P,NaN,ya crazy fool ! fine time ya picked to sneeze !,90,1937

In [55]:
new_snow_white["Speaker"][snow_white.Speaker == " ahch "]

296     ahch
Name: Speaker, dtype: object

In [56]:
new_snow_white[["Speaker", "Text"]].iloc[294:298]

        Speaker                                               Text
295      sneezy  and be sure to watch outto wato wa to wawatch ...
296       ahch                                        ahchooooo !
297  snow white  well... all right. but that's the last oh ! go...
298  snow white   heighho, heighho it's off to work we go heighho

In [57]:
#goshdarn it, sneezy!